[2017-10-16 14:19] jeffbaumes opened #2413 "Update onramp tag to "good first issue" or "help wanted""
Apparently GitHub will help users find these special tags.

[2017-10-16 14:20] jeffbaumes opened #2414 "When you refresh the admin page, “Admin console” is no longer highlighted"
It should remain highlighted on that page and while navigating all sub pages.

[2017-10-16 14:21] jeffbaumes opened #2415 "Clicking away from search help and search mode popups should make dialog disappear"
You should not need to click the button again to make it go away.

[2017-10-16 14:22] jeffbaumes opened #2416 "Rename “Quick search” to “Search”"
Especially since now there is a real search page and it is not just a transient "quick" search.

[2017-10-16 14:23] jeffbaumes opened #2417 "Add consistent breadcrumbs when navigating admin settings"
The user should know where they are within the admin settings.

e.g. for Remote worker plugin settings:

Admin console > Plugins > Remote worker

[2017-10-16 14:24] jeffbaumes opened #2418 "Re-render markdown description for a collection when edited"
Currently it is not rendered until you refresh the page.

[2017-10-16 14:25] jeffbaumes opened #2419 "Update “Show description” behavior for collections"
“Show description” on a collection should be replaced with the start of the description in plain text with a “more…” link. The more… link should link over to the main collection page, just like a blog post listing will link to the full. We should not embed markdown-rendered text anywhere except for the main collection page. This means removing full markdown rendering in the details dialog as well.

[2017-10-16 14:25] jeffbaumes opened #2420 "Put top-level resource lists inside a div"
This is needed so that you can use first-child instead of nth-child(2) to pick special styling for the first element. This could be considered a breaking change since it changes DOM structure.

[2017-10-16 14:26] jeffbaumes opened #2421 "Use flex for element rendering for top-level resource lists"
This would remove the need for float right and clear.

[2017-10-16 14:27] jeffbaumes opened #2422 "Remove <b> tags, use CSS font-weight instead"
For example, titles in top-level resource lists.

[2017-10-16 14:28] jeffbaumes opened #2423 "Add g-top-level-list-entry class to g-user-list-entry divs"
This would allow the user list to be styled consistently with other lists without copy/paste of CSS.

[2017-10-16 14:28] jeffbaumes opened #2424 "Add a Home button on the left menu that goes to your folders"

[2017-10-16 14:28] jeffbaumes opened #2425 "Make timestamps consistent in the UI"
For example, the UI shows date and time for collections, but just date for users.

[2017-10-16 14:29] jeffbaumes opened #2426 "Fix responsive layout of top-level resource list toolbar"
The toolbar of pagination/etc. pile up strangely on small widths.

[2017-10-16 14:30] jeffbaumes opened #2427 "Fix responsive layout of top-level resource list elements"
Top-level resources (users, collections, etc.) do not transition naturally on small widths. It would be nicer if the details (created on date, etc.) either disappear or are displayed below the icon/name/description.

[2017-10-16 14:31] zachmullen commented on #2419
One thing we could do to try and just grab a best-guess for the human readable plaintext of the markdown description would be

[code]

[2017-10-16 14:34] jeffbaumes opened #2428 "Unify search"
Note: This is a larger task that requires clarification and discussion.

There should not be two search boxes right under each other on collections, users, groups, tasks pages (top-bar search and resource-specific search). We should make a way to indicate the subsearch in the top-level search input. GitHub does this with a contextual domain for the search, which goes back to full GitHub search if

[2017-10-16 14:48] zachmullen commented on #2420
My rule of thumb would be that we should feel OK to add new levels of nesting in the DOM if there's a compelling reason like this, and not consider it a breaking change unless we notice it breaking our own plugins.

[2017-10-16 14:51] zachmullen commented on #2421
Now that flexbox is widely supported, I'd like to scope this issue to more generally remove floating styles everywhere since flex is superior in almost every case.

[2017-10-16 14:53] zachmullen commented on #2425
It might be good to default to using "ago" format by default, and have the full datestamp appear on mouseover, like how GitHub does it.

[2017-10-16 14:56] kotfic commented on #2403
Keep in mind that some downstream projects build on girder/girder:latest.  A change of this magnitude might be considered "breaking"

[2017-10-16 14:59] danlamanna commented on #2425
https://momentjs.com/docs/#/displaying/fromnow/ (used in a couple of places around Girder already).

[2017-10-16 15:07] #1431 closed

[2017-10-16 15:07] zachmullen commented on #1431
#2376

[2017-10-16 16:01] cjh1 commented on #2403
Yes, we should probably do this for Girder 3

[2017-10-16 16:10] danlamanna commented on #1431
Should our imports be structured so that we can do:
[code]

[2017-10-16 16:33] zachmullen commented on #1431
I thought about that, and I'm ok with importing the submodules in __init__.py.

[2017-10-16 18:19] #2378 closed

[2017-10-16 21:35] zachmullen opened #2431 "Error on server after upgrade"
[code]

Anyone else seen this? I haven't dug into the code to check it out yet. I have not seen it locally myself.

[2017-10-17 14:03] Pierre-Assemat commented on #2428
I totally agree, this should be more compact.
I like the way Github use it, maybe when we will find a direction to unify the search I could implement it. This should not be very tough to do.

[2017-10-17 17:28] manthey opened #2434 "Track which plugins were explicitly enabled"
Currently, when a user turns on a plugin that requires other plugins, all of those plugins are turned on as well.  If the user then turns off the first plugin, none of the others are turned off.  It would be better if plugins that were only on because of requirements were so marked so that they could be disabled when the requiring plugin is disabled.

plugins that are on because of a dependency sh

[2017-10-17 21:22] zachmullen commented on #2431
Not an actual bug, server got into an inconsistent state after a git pull and needed a restart.

[2017-10-17 21:22] #2431 closed

[2017-10-17 21:41] mgrauer opened #2436 "GirderClient should always have a session object"
Follow on work from #2433.

GirderClient would always have a session object present that we could manipulate, that way this flag would just require setting ctx.obj.session.verify = False.

It would also be good to clearly specify the API surface of the GirderClient as part of this work, see #2433 for discussion.

[2017-10-24 19:03] danlamanna opened #2440 "Investigate compatibility with S3 compliant object stores"
There's numerous object stores that offer compliance with S3 that people have expressed interest in, namely Ceph/Swift and minio.

There seems to be at least some prior research in this area regarding boto:
https://github.com/minio/minio-py/issues/560
https://github.com/ceph/s3-tests

[2017-10-24 20:06] danlamanna opened #2441 "Provenance plugin isn't distributed-deployment friendly"
It appears that the provenance plugin binds events on models based on which instance of Girder [changed the setting](https://github.com/girder/girder/blob/e8e8980948bc/plugins/provenance/server/__init__.py#L44). It should be verified this works in a distributed deployment and prefork deployment, or modified so it can.

[2017-10-25 22:13] brianhelba opened #2445 "Allow restRequest to be cleanly canceled"
While there is a `cancelRestRequests` method in Girder, it should typically not be used, as it cancels all rest requests globally, instead of only those from a specific call.

Instead, a mechanism should be exposed to cancel specific obsolete rest requests when necessary. While the `jqXHR` object returned by `restRequest` does expose an `.abort` method, this is not accessible through any subsequen

[2017-10-25 22:27] #2338 closed

[2017-10-25 22:41] jbeezley commented on #2445
I agree `cancelRestRequests` should be deprecated, but I'm hesitant to introduce any sort of cancelable promises even if it's through bluebird.  There have been a number of attempts for several years to introduce cancelable promises into the ES standard (https://github.com/tc39/proposal-cancelable-promises).  None have made it into the standard for a variety of reasons, but one of the primary reas

[2017-10-26 00:16] brianhelba commented on #2445
@jbeezley +1 to all.

However, there will still be cases (e.g. the `dicom_viewer`) where a slow connection could cause dozens of unsent requests to pile up. In those cases, it may be possible to totally cancel a request if the actual TCP/HTTP request has not yet been sent (though I'm not sure, and I need to do more research into how browsers throttle multiple Ajax requests), or it may still be use

[2017-10-26 00:24] jbeezley commented on #2445
We went through this exploration in geojs.  @manthey can probably fill in more details, but my recollection is that once the ajax js call is made, there is no way to cancel it even if the browser has not actually sent the request yet.  There is a browser-specific limit to the number of simultaneous requests to a single domain, so additional requests just set in a queue.  The only way we found to h

[2017-10-26 01:47] EricCousineau-TRI opened #2446 "[feature request] hashsum: Provide queries for existence, file information, etc. w.r.t. an existing collection"
I am prototyping a simple extension of Jean's demo for an `ExternalData` analog for Bazel:
[Jean's branch](https://github.com/jcfr/bazel-large-files-with-girder)
Prototype (at time of writing): [branch](https://github.com/EricCousineau-TRI/bazel-large-files-with-girder/blob/feature/mod2/tools/external_data/WORKFLOWS.md) | [commit](https://github.com/EricCousineau-TRI/bazel-large-files-with-girder/

[2017-10-26 02:35] brianhelba commented on #2446
The integration with Bazel is exciting, so I hope Girder can accommodate this use case.

---

To address your point in (a):
* It is already possible to test for the existence of a file's binary data in Girder, given it's hashsum, without having the download the whole thing, by making a request with the `HEAD` method (instead of the typical `GET` method). This will return just the HTTP headers (wit

[2017-10-26 18:13] EricCousineau-TRI commented on #2446
I believe I had done this (though using[ `curl -H`](https://github.com/EricCousineau-TRI/bazel-large-files-with-girder/blob/bd3433e80c366e471df8ae27b0e873bae9e0fc26/tools/external_data/util.py#L87), just out of laziness) - can I ask if there is a way to do this via `girder_client`?

That sounds reasonable. I will see if I can review some of the documentation for plugin development.

You had actual

[2017-10-26 18:18] #2319 closed

[2017-10-29 16:38] brianhelba opened #2448 "/system/version endpoint should not depend on the web client build for Git info"
Presently, [the `/system/version` endpoint)[https://github.com/girder/girder/blob/7235f8fbff8bddaec17d779be40d0dd2660038e6/girder/api/v1/system.py#L173] depends on the `VERSION` constant (getting set from the `girder-version.json` file)[https://github.com/girder/girder/blob/7235f8fbff8bddaec17d779be40d0dd2660038e6/girder/constants.py#L53], as an import-time side effect. Since the  `girder-version.

[2017-10-29 21:58] danlamanna commented on #2448
ref #1933, #1931

[2017-10-30 00:07] brianhelba commented on #2448
Closing as a duplicate of #1933 .

[2017-10-30 00:07] #2448 closed

[2017-10-30 17:45] danlamanna commented on #2387
@brianhelba introduced provisional work for Python in #2447, but JavaScript symbol tracking still needs to be addressed.

[2017-11-01 17:24] mgrauer opened #2453 "Update assetstore import swagger docs"
The assetstore import endpoint [says](https://github.com/girder/girder/blob/master/girder/api/v1/assetstore.py#L129) in swagger "This operation is currently only supported for S3 assetstores."

This endpoint works for filesystem assetstores, so the docs should be changed. I see an implementation for filesystem_assetstore but not for gridfs. And what to do in the case where a new assetstore type co

[2017-11-01 21:10] brianhelba opened #2455 ""allowedSearchTypes" should be moved to the search utility"
As search logic is now handled in its own utility (in `girder.utility.search`), the set of allowed model search types (in `girder.api.v1.resource.allowedSearchTypes`) should be moved out of the API layer and into the search utility.

Ideally, this move would also change this mutable global into a proper internal API.

Since `girder.api.v1.resource.allowedSearchTypes` is part of the public namespac

[2017-11-06 14:35] mgrauer opened #2460 "Add a resume mode for Girder CLI"
Quoting @zachmullen from email

[2017-11-06 15:05] zachmullen commented on #2460
Some brainstorming suggestions:

[code]

That should be sufficient for now, and is also an extensible format for future needs.

[2017-11-06 19:31] danlamanna commented on #2440
Anecdotally, I've tested large file uploads/downloads through the web UI and girder-cli using minio as the backing "S3" assetstore and everything seemed to work (including the "import data" functionality).

[2017-11-07 13:00] kotfic commented on #2460
Does it make sense to consider parallel downloads in the same folder when designing this feature?

[2017-11-07 13:11] mgrauer commented on #2460
Sorry @kotfic, I realized my issue title wasn't specific enough. I was targeting uploads.

[2017-11-07 13:15] zachmullen commented on #2460
@kotfic I was not considering it, but if you have a proposal that would support that, we can do that.

[2017-11-07 13:38] kotfic commented on #2460
Maybe just a different naming convention for the metadata file that included file info?  so for instance ```.myBigFile.tiff.58b735a3d527a3f645401c0a.json```   Or maybe a little less messy ```.girderupload/myBigFile.tiff.58b735a3d527a3f645401c0a.json```

[2017-11-07 19:12] cjh1 opened #2463 "Seems that destName is now required"
I have the following parameters description:

[code]
This no longer works with master, I have to add destName?

[code]

[2017-11-07 19:24] zachmullen commented on #2463
Sounds like a bug. If you're converting it, the modern way to do it is just to pass the class itself as the `model` parameter, then you can omit `destName` and `plugin`.

[2017-11-07 19:28] cjh1 commented on #2463
Yes, it seems the ModelImporter.model(...) uses the module name (which is how it was done in the past), now the code uses model.name, which in my case they are different!

[2017-11-07 19:29] cjh1 commented on #2463
I have a few plugins like this so would like to correct it in girder if possible.

[2017-11-07 19:32] cjh1 commented on #2463
Seem like this is the offending [line](https://github.com/girder/girder/blob/master/girder/api/describe.py#L662), in the past model.name would have been the module name of the model?

[2017-11-07 19:38] cjh1 commented on #2463
I think rather than model.name is should me info['model'] if destName is not provided?

[2017-11-07 19:47] cjh1 commented on #2463
I think this is what we want? #2464

[2017-11-07 21:28] cjh1 commented on #2463
Fixed by #2464

[2017-11-07 21:28] #2463 closed

[2017-11-08 15:40] danlamanna commented on #2460
related #655

[2017-11-08 18:06] danlamanna opened #2465 "Add a "share this item" link which acts as an "unlisted" item"
It would be nice to be able to share an item with a user who doesn't have an account, while also not publicly listing the item. This would be similar in functionality to github "secret" gists or youtube "unlisted" videos or google doc "shareable links". I think the google docs usability is nicest, which is to have a popup that explicitly states "Anyone with this link **can view** this document".

[2017-11-08 18:38] manthey opened #2466 "S3 assetstore is validated and can missing region"
If no region is specified and the S3 region is not the default (for instance, `us-east-2`), the assetstore validates but cannot be used to upload files.  Importing existing data works, but it cannot be read.

[2017-11-08 18:42] mgrauer commented on #2465
Perhaps similar in spirit to the authorized upload for anonymous users, which creates a one time signed link for uploads.

I'm mentioning this for two reasons, one because we might want to have the one time links as an option for this feature, and two that we can maintain some amount of usability/workflow/UI consistency between the upload and download paths.

[2017-11-08 19:08] jeffbaumes commented on #2465
For security reasons, we would probably want the admin to be able to disable this capability, but I agree it would be very useful.

[2017-11-09 15:54] manthey opened #2469 "Make it harder to delete collections"
We've had a request to make it harder to delete collections.  A user thought they were deleting a file and accidentally deleted a large collection when clicked the confirmation dialog.  They recommend something like Github uses where you must type the name of the collection to confirm deleting it -- something like "Please type 'DELETE <collection name>' and click the Delete button to confirm delet

[2017-11-09 16:26] zachmullen commented on #2469
+1

[2017-11-09 16:28] mgrauer commented on #2469
I'm quite sympathetic to this because I once deleted a folder with 200 G in subfolders--so this case (folder) still wouldn't be covered, but Collection seems like the right level to avoid annoying the user with confirmations for every delete request.

Perhaps as part of the deletion confirmation, we could say "you want to delete a User/Collection with X folders and Y bytes" so they can see the con

[2017-11-09 16:33] manthey commented on #2469
At the peril of making things complicated, we could have a number-of-things and size-of-data threshold when deleting folders to engage the harder-to-delete method.

[2017-11-09 17:15] kotfic commented on #2469
+1 for thresholds

[2017-11-09 18:43] mgrauer opened #2470 "Improve docs for Candela plugin"
Sounds like the requirements for naming the data should be better described.

See https://discourse.girder.org/t/how-do-i-enable-candela-visualizations-for-csv-files/60

[2017-11-09 20:31] Pierre-Assemat commented on #2469
Just to have some clarification, the idea is to make sure the user know what is doing?
- This is limited only to Collection? or others models like folder, or user too?
- Do you think only a message with size-of-data or number of element is sufficient?
- Or do we need an user interaction like enter a message ('delete', or 'yes'...)?

[2017-11-09 21:05] danlamanna commented on #2469
Length of time the collection has been around could be another useful
metric.

On Thu, Nov  9, 2017 at 16:34 PM, David Manthey <notifications@github.com> wrote:

[2017-11-09 21:07] manthey commented on #2469
I think that initially this just applies to collections, but should be made so it can be reused when we decide where else we want it.  I *think* we'll also want it for users.  I imagine that the delete confirmation would become a dialog, sort of like this:

![image](https://user-images.githubusercontent.com/8781639/32629676-ffc434f0-c567-11e7-9de1-4d483badd0dd.png)

[2017-11-09 21:11] Pierre-Assemat commented on #2469
Ok so let start on a dialog box reusable, maybe by specifying the type (folder, user, collection...)
I will make a PR soon with the first prototype.

[2017-11-09 21:12] mgrauer commented on #2469
This sounds like a good approach to me. The only concern I'd have is if the collection has a long name or maybe a name that isn't easy to type on a certain keyboard, that could be a pain. Minor quibble.

How about requiring Users to type "DELETE".

or "DELETE Junk" in the general case would work 😜

[2017-11-09 21:18] manthey commented on #2469
Cut and pasting the name works for tedious names -- the main thing is that it is a more conscious action than just clicking Delete.

[2017-11-09 21:29] danlamanna commented on #2469
Another potential use case for this in the future could be deleting API Keys.

On Thu, Nov  9, 2017 at 21:18 PM, David Manthey <notifications@github.com> wrote:

[2017-11-09 21:42] Pierre-Assemat commented on #2469
And if the message to enter was the user identifier, or a password ?

[2017-11-09 21:54] ronichoudhury commented on #2469
I've always liked Google's method where the action happens but is
undo-able. I know supporting an undo for deletions is much more difficult
than a confirmation dialog but it's a nice UX feature that makes things
easier on the customer, and something to consider.

On Thu, Nov 9, 2017 at 4:42 PM Pierre Assemat <notifications@github.com>
wrote:

[2017-11-10 12:51] danlamanna opened #2472 "Evaluate alternative Ansible roles for MongoDB"
The solution in the past has been to use https://github.com/Stouts/Stouts.mongodb, which is almost completely unmaintained at this point.

Requirements for an upstream role:
- Support Ubuntu 14/16
- Support CentOS 7
- Allow specifying custom configuration options without templating
- Ideally is available on Ansible Galaxy

We should compile a list of any other features we deem necessary, and then

[2017-11-10 17:04] acbauer opened #2474 "Add cli equivalents for uploading and downloading data"
Add in information on how to do the command line equivalents for operations enabled in the web interface, e.g.:
`girder-cli --api-url https://data.kitware.com/api/v1 --api-key <user-key> upload 5a049b808d777f31ac64e77d sensei-sc17.ova`  for uploading a file to the folder in data.kitware.com

[2017-11-10 17:05] cjh1 commented on #2474
#1637

[2017-11-10 17:31] cjh1 commented on #2472
I tend to agree with @danlamanna we may have to create our own, all the ones I have evaluated in the past have their own problems.

[2017-11-10 17:36] mgrauer commented on #2474
More generally this issue could be targeted at making it easy to do an upload from the cli that mimics the web uploader on a specific instance and folder.

The web uploader could pre-populate the full api url and folder id for the command, as the alternative method to the web uploader of getting data into that specific folder, as @acbauer suggests.

[2017-11-10 19:28] Xarthisius opened #2475 "OPTIONS request for urls with parameters fails with 405 (CherryPy == 11.1.0)"
It's not exactly related with Girder per se, nevertheless I'm opening this issue since it's affecting Girder.

With `CherryPy == 11.1.0` following request:

[code]

yields

[code]

even though:

[code]
Downgrading to `CherryPy==11.0.0` "fixes" the issue:

[2017-11-10 19:49] Xarthisius commented on #2475
Git bisect on CherryPy, shows this commit: https://github.com/cherrypy/cherrypy/commit/c87bc9f73740dfe35e4d2ca9082dccb6278bdc53 as a culprit

[2017-11-11 21:03] danlamanna opened #2477 "Notify administrators when a new version of Girder is available"
We should utilize the Github API to retrieve the [latest release](https://developer.github.com/v3/repos/releases/#get-the-latest-release) of Girder and notify the administrator via a banner, email, or some other mechanism that their instance of Girder is able to be upgraded. Since this would be code in Girder that is dependent on a 3rd party service, it should gracefully fail if unable to reach ou

[2017-11-13 13:44] #2470 closed

[2017-11-13 20:10] kotfic opened #2479 "Raise 409 when creating resources that already exist (e.g. Collection, User, etc)"
![https://http.cat/409](https://http.cat/409)

[2017-11-13 20:12] danlamanna commented on #695
@brianhelba Did any of the recent work with tooltips resolve this?

[2017-11-15 15:00] manthey opened #2482 "item_tasks client test is locale dependent"
The item_tasks client tasks test is locale dependent, and fails when the tests are run in the C locale instead of the en.UTF-8 locale.

We expect names to be sorted alphabetically, which means that, in e.UTF-8, they are in the order 'item-tasks-demo', 'me/my_image', 'PET phantom...', but in the C locale this changes to 'PET phantom...', 'item-tasks-demo', 'me/my_image'.  To make the test more robu

[2017-11-15 15:55] danlamanna commented on #2482
Is running the test suite in a different locale as simple as specifying
LANG=C ctest ... ? Was this the only test that failed out of our test
suite?

On Wed, Nov 15, 2017 at 15:00 PM, David Manthey <notifications@github.com> wrote:

[2017-11-15 16:10] manthey commented on #2482
Yes, that is all that is required to run in another locale, and, yes, this was the only test that failed.

I encountered this on @brianhelba's provisional circle-ci version 2 branch in their environment (for Python 3, though I don't think that is relevant).  There, I *can't* just change the locale via LANG=en.UTF-8, as they don't have the English locale installed.

[2017-11-15 16:51] manthey commented on #2482
I've fixed the test in PR #2483 via method (b).

[2017-11-16 15:09] venabled opened #2484 "Python client can't ignore SSL warnings, or use self-signed certificate"
The Python CLI interface supports both ignoring SSL verification, and using user-provided certs, but the core library does not.

I've been able to work around by creating a `requests.Session` object with my desired configuration and setting `GirderClient._session` to that instance, not sure if you'd take a PR with some additional functionality to support it.

[2017-11-16 15:54] danlamanna commented on #2484
Thanks for the issue! The `GirderClient` is getting a few changes in Girder 3 to ensure it follows conventions of the `requests` library more closely. In particular, a `Session` object will always be exposed to the user for direct use/manipulation (see #2436). I believe this will directly solve the problems you're seeing.

In the meantime, note that the session object can also be customized withou

[2017-11-16 19:48] timthirion commented on #2428
@agirault @jeffbaumes @Pierre-Assemat

Our idea for the second search bar would be to implement real-time filtering on the collection/users/groups, similar to how Github does it when you hit 't' on a repository page. When the user types, the list of elements should update in real-time without having to do a refresh.

We think we should also:
1. Remove the search hints, instead make the magnifying

[2017-11-16 19:54] timthirion commented on #2424
@agirault

Warrants deep discussion, but we also suggest having giving the user specific access to:
- The collections they can view, edit, etc.
- The groups they belong to.
- Their jobs
- More?

Perhaps each of these could be an item in the left menu.

[2017-11-16 21:35] mgrauer commented on #2428
@timthirion I have added an issue label.

GH issue labels for Girder are almost religiously contentions for some strange reason, so my apologies to any who this offends.

[2017-11-17 17:56] danlamanna commented on #2479
We should also really try to use 404 when resources don't exist. We do this for configuration options and in the hashsum download plugin, but nowhere else in Girder.

[2017-11-18 03:00] venabled commented on #2484
Thanks for the response, the workaround seems to be working, should I close this for now?

[2017-11-18 22:55] mgrauer commented on #2484
I'll go ahead and close this because we have this issue tracked as part of the Girder 3.0 milestone.

Thanks again for your report.

[2017-11-18 22:55] #2484 closed

[2017-11-20 13:55] manthey opened #2486 "CherryPy 12 removed Response timeout parameter"
CherryPy Response objects used to have a `timeout` parameter that defaulted to 300 seconds.  We occasionally needed more time that this for responses, so would reset the timer in the `utility/progress/setResponseTimeLimit` function.  As of CherryPy 12.0, the Response objects no longer have this parameter (see https://github.com/cherrypy/cherrypy/issues/1625).

Since we only ever use this to extend

[2017-11-20 18:28] danlamanna commented on #2365
This tool could be useful for testing the scripting associated with automated releases on PyPI: https://packaging.python.org/guides/using-testpypi/.

[2017-11-20 18:55] #2486 closed

[2017-11-21 17:58] danlamanna opened #2490 "Navigating to a resource that doesn't exist should show a 404 page"
Currently, navigating to a non-existent resource such [as this](https://data.kitware.com/#item/58e68ea58d777f16d095fc39) throws a vague error message that requires inspecting the console, and the body of the page remains blank. We should probably display a 404 page in this case.

[2017-11-28 16:54] agirault opened #2495 "Replace contactHref by Contact us form"
The contact link in the footer is a `mailto:kitware@kitware.com`.

IMO, directing to https://www.kitware.com/contact-us would make more sense to expose more email addresses, phone numbers, and contact form.

[2017-11-28 19:50] mgrauer commented on #2495
Thanks for the suggestion @agirault.

This is configurable through the admin settings, so you can change it to point to another email address, because people other than Kitware run instances of Girder, and want to have their own contact email address.

Perhaps we could make it an option to have a configurable link or email, depending on what the site admin chooses.

[2017-12-04 19:39] danlamanna opened #2503 "Add a cookiecutter template for Girder plugins"
Related #2128

[2017-12-06 18:57] #2313 closed

[2017-12-07 09:34] gdolle commented on #2252
I think also that this is a security issue.
At least we should have the possibility to hide the user login in the user list (in particular when we are using LDAP for several services).

[2017-12-07 18:10] mgrauer opened #2509 "RFC: "everyone" group"
It would be helpful for some use cases to have a special group that includes all registered users, e.g. to make a collection viewable by anyone that has logged in. This can somewhat be handled by the autojoin plugin, but a person could remove themselves from a group they they are joined to there, and it does take some setup.

I'm curious if this would be useful to others, and how difficult it woul

[2017-12-13 15:46] brianhelba opened #2513 "Move "attachedToId" behavior from AccessControlMixin to File model"
Presently, the `attachedToId` behavior under `AccessControlMixin` is broken in several ways. #1868 attempted to fix some of them, but fully supporting this functionality will add a significant amount of additional complexity to `AccessControlMixin`.

Per discussion with @zachmullen , it may be best to move this functionality to only live on `File` models (which are a subclass of `AccessControlMixi

[2017-12-13 20:30] zachmullen opened #2515 "Job history visualizations display backwards"
In the timing history view and the time series view, the jobs display with the most recent ones on the left and the oldest on the right. This seems counterintuitive.

[2017-12-13 20:40] manthey commented on #2515
I'd argue that this is the sensible thing since we also show the most recent jobs at the top of the list view.  Also, the next button points to the right, but loads older data (so the older data should be to the right).

[2017-12-13 20:43] zachmullen commented on #2515
I guess this is debatable, but I'm very much used to looking at time series in chronological order LTR.

For the job history view, my inspiration was from [CircleCI insights visualization](https://circleci.com/build-insights/gh/girder/girder/master) which orders them LTR chronological also.

[2017-12-13 20:48] manthey commented on #2515
We discussed this in the original PR (https://github.com/girder/girder/pull/1901), and the sentiments seemed mixed.  Pedantically, I don't think this is a bug, since it  works the way the developer intended.

I'd say if we change it, we should change the next/prev buttons locations, too.

[2017-12-13 20:48] zachmullen commented on #2515
I've removed the bug label

[2017-12-13 21:32] brianhelba opened #2516 "Officially drop support for Python3 <3.5 and MongoDB <3.2"
Officially drop support for Python3 <3.5 (but keeping Python 2.7), because:
* It's the [minimum version supported by Ansible](https://docs.ansible.com/ansible/2.4/dev_guide/developing_python3.html#minimum-version-of-python-3-x-and-python-2-x) (and Ansible will fail on Python <=3.4)
* Girder is not able to fully test Python 3.4, as the CircleCI machine environment requires Ansible to provision itse

[2017-12-14 16:48] Xarthisius opened #2520 "StreamToLogger does not retain attributes of the underlying stream"
I got a following traceback from a custom plugin:

[code]

After a bit of digging in the code it turns out that `StreamToLogger` retains only callable attributes of the underlying stream: https://github.com/girder/girder/blob/master/girder/__init__.py#L106

Is there any reason why properties are not used?

[2017-12-14 17:24] manthey commented on #2520
I can't remember my complete rationale at this time, but it had to do with interacting with wsi.  I know that copying all of the properties caused a problem, so I only copied the methods.

I'm hesitant to just copy all non-private properties.  Maybe we should copy all non-private properties are in a list of specific instance types (strings, booleans, and numbers, for instance).

[2017-12-14 17:59] manthey commented on #2520
@Xarthisius PR #2522 should fix this for you.

[2017-12-14 20:51] zachmullen opened #2525 "python client docs not building correctly"
They are supposed to appear [here](http://girder.readthedocs.io/en/latest/python-client.html#further-examples-and-function-level-documentation) but the section is blank.

[2017-12-14 23:27] #2525 closed

[2017-12-15 15:45] zachmullen opened #2530 "[RFC] Non-global server lifecycle support"
**Problem**: Girder was designed under the assumption that the lifecycle of the cherrypy/girder server was the same as the lifecycle of its python process. Now that we are using the server within pytest as a fixture, that assumption no longer holds.

**Requirement**: We need to be able to spin the server up and down over and over without leaking any information from the previous invocation into th

[2017-12-15 15:49] zachmullen commented on #2530
I put this under the 3.0 milestone because I think it may involve breaking changes, but I'm not totally sure.

[2017-12-15 16:02] danlamanna commented on #2530
The removal of starting an event daemon on import of `girder.events` is a breaking change in itself.

[2017-12-15 16:53] zachmullen commented on #2516
I'm fine with pulling the trigger on the mongo part, in particular I'd like to make all of our CI testing use the ramdisk mongo configuration, which requires dropping 2.x from testing.

As for python 3.4, I dislike the idea of dropping support for intermediate python versions... do we know why ansible doesn't support it?

[2017-12-15 17:10] manthey commented on #2516
Ansible says: "Python-3.5 was chosen as a minimum because it is the earliest Python-3 version adopted as the default Python by a Long Term Support (LTS) Linux distribution (in this case, Ubuntu-16.04)." https://docs.ansible.com/ansible/2.4/dev_guide/developing_python3.html

[2017-12-15 20:06] zachmullen commented on #2516
Ok, seems reasonable. I'm fine with both proposals.

[2017-12-15 20:21] mgrauer commented on #2516
I'm ok with this. Do we need to update any Ansible or Docker for the Mongo change?

@brianhelba Have you started using features that are Mongo >= 3.2 only?

[2017-12-15 20:25] brianhelba commented on #2516
I use features that are 3.4-only and 3.6 only in downstream plugins, where I have a lot of aggregation pipelines.

However, for just core Girder, I think the features that I enumerated above provide an important set of functionally that ought to always be accessible and which core could start to leverage now.

[2017-12-15 20:32] manthey commented on #2516
I think we should leave this issue up a "while" so that potential external users could have a chance to chime in (or at least see this before it happens).  I know that we have had external users as recently as six months ago still on Mongo 2.6, even though they were using the latest Girder.

Having said that, I look forward to dropping Mongo 2.6.

[2017-12-15 21:44] cjh1 opened #2534 "girder_client currently doesn't upload zero length files"
The [line in question](https://github.com/girder/girder/blob/master/clients/python/girder_client/__init__.py#L874-L875). This was a little surprising to me. Is this behavior we want?

[2017-12-18 14:51] manthey commented on #2520
Fixed in #2522.

[2017-12-18 14:51] #2520 closed

[2017-12-18 15:52] #2469 closed

[2017-12-19 16:05] hugovk commented on #2516
Here's the pip installs for girder from PyPI for the last month (via `pypinfo --percent --pip girder pyversion`), very little for Python 3.0-3.4:

| python_version | percent | download_count |
| -------------- | ------- | -------------- |
| 2.7            |   68.5% |            102 |
| 3.5            |   25.5% |             38 |
| 3.6            |    5.4% |              8 |
| 3.4            |    0

[2017-12-19 16:14] mgrauer commented on #2516
Thanks @hugovk . It's nice to be able to make a data driven decision, especially for a data management platform!

🏆

[2017-12-19 22:09] brianhelba opened #2539 "Decide on one format for reporting JS coverage to Codecov"
Depending on the file format that coverage information is serialized as, Codecov reports subtly different results. We should settle on using one format, that expresses coverage in a way that's most useful to us as developers.

Istanbul can support [the following coverage formats](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-reports/lib). Codecov can support at least [the

[2017-12-21 22:28] brianhelba commented on #2539
I think the two finalists here are Cobertura and Clover XML, as both can express partial line hits (i.e. branch coverage), however there are differences between the two as to when they count a line as partially vs. fully covered and whether function definitions count as LOC.

@manthey @jbeezley @girder/developers Can you PTAL at these two example outputs and render an opinion as to which you think

[2017-12-22 14:27] jbeezley commented on #2539
Another useful tool is the native html reports.  We don't store these reports as artifacts in the circle 2 workflows (any reason why?).  The last circle 1 run I could find is [here](https://4144-11854950-gh.circle-artifacts.com/2/tmp/circle-artifacts.8MsAhz2/coverage/js/index.html).  This report is clearly far more granular as it reports 84% statement coverage.  I tend to look at the native report

[2017-12-22 15:02] manthey commented on #2539
The differences between Cobertura and Clover are peculiar.  I like the Cobertura reporting on branch coverage a little better, and since Cobertura is including function definitions, it will appear as a less profound drop in coverage.  Clover supposedly gives a little more information, but browsing our code, I don't see any useful difference.  I'm not passionate about one versus the other.

[2017-12-22 18:52] brianhelba commented on #2539
@jbeezley Yes, storing the native HTML JS coverage reports with CircleCI should happen as a small part of these changes. It's more technically awkward than I wanted, which is why it isn't already happening (like it is for Python).

[2018-01-03 01:19] brianhelba commented on #2539
@manthey Looking at Cobertura vs Clover reports on Codecov in more detail, I think Cobertura handles partial coverage in an objectively more sane way. For that reason alone, I'm also voting to go with Cobertura.

[2018-01-03 17:55] zachmullen opened #2547 "jquery data() causing DOM leaks"
I noticed recently that our memory footprint was increasing over time when navigating through the girder application, and exploring some heap profiles shows that we are leaking detached DOM trees. After a bit of digging, it turns out that anytime we are using the `$.data` function, those elements and their subtrees remain in memory as detached trees. I was able to reproduce this as follows:

1. Na

[2018-01-03 21:55] #2539 closed

[2018-01-04 03:11] brianhelba opened #2549 "Consider adding some additional ESLint rules"
The following rules may be helpful, but would break too much code to add immediately:
[code]

Once Girder supports ESLint warnings (i.e. runs `eslint` outside of a CMake test), these could alternatively be added as such.

[2018-01-04 14:38] cjh1 opened #2551 "Ansible role installs dependencies for all plugins even if you do not enable them"

[2018-01-04 14:55] danlamanna commented on #2551
re #2025

[2018-01-04 16:54] brianhelba opened #2553 "When Description.produces is set to a binary type, Swagger does not show errors"
Setting
[code]
on a `Resource` route causes Swagger to not show 400 errors from the endpoint.

[2018-01-04 17:28] manthey commented on #2553
Changing this would require a change to swagger-ui (perhaps just upgrading would solve the problem).  If `produces` is not set it defaults to `application/json`.  If `application/json` is included 400 errors are shown, but non-json results aren't rendered properly (even if they are included in the list of `produces`).

[2018-01-04 17:50] brianhelba commented on #2553
@manthey Agreed.

[2018-01-05 17:59] brianhelba opened #2555 "Use string-based presets in Babel 7"
When Babel 7 is released, and Girder starts using it, [this line](https://github.com/girder/girder/blob/d0cb28cd914dc1f18c80d335523dd2f1a59620a0/grunt_tasks/webpack.config.js#L30) can probably be simplified.

See: https://babeljs.io/blog/2017/03/01/upgrade-to-babel-7#resolving-string-based-config-values

[2018-01-05 19:35] brianhelba opened #2556 "Fix ESDoc issues"
ESDoc has several issues that need to be addressed:
* Its homepage only accepts Markdown-formatted text, and Girder uses reStructuredText (as that's all PyPI accepts)
  * The best method to do this conversion seems to be [Pandoc](http://pandoc.org/index.html), but that adds an additional dependency.
  * The https://doc.esdoc.org/ service will generate the documentation from GitHub source, so cover

[2018-01-08 14:06] ronichoudhury opened #2558 "Removing `router.navigate()` calls from event handlers for links that have `href` properties results in obscure buggy behavior"
Though removing the `router.navigate()` calls seems to works for human-driven testing (i.e., the UI behaves as it ought to), the testing fails in obscure ways. The automated tests that do things like click on a link to the homepage after opening the admin console will time out. Unclear why this is happening.

This issue was revealed during development of #2489.

[2018-01-08 14:56] jbeezley opened #2559 "Girder fails to start when pyopenssl is installed (python 3)"
This isn't actually a Girder bug, but I thought I would make an issue in case someone else encounters it.  I believe this is specific to Python 3 only.  With the following packages installed:
[code]
Starting Girder results in:
[code]

This issue is fixed in a commit mentioned in https://github.com/cherrypy/cherrypy/issues/1675, but we will have to wait for https://github.com/cherrypy/cherrypy/issu

[2018-01-08 19:14] #1540 closed

[2018-01-09 15:46] matthewma7 opened #2561 "Swagger UI generates corrupted zip file"
As we know, when an item has multiple files, the item/download will produce a zip file. However, using the download link provided in the Swagger UI will produce a corrupted zip file.
@manthey found out it is because there are extra bytes for UTF-8 being inserted into the file between chunks.

[2018-01-09 15:51] manthey commented on #2561
The data we emit from Girder is correct.  Swagger buffers the responses as a blob and offers a link to get that blob.  It is the blob that has extra UTF-8 BOM markers injected into it.  Surprisingly, the extra bytes are not aligned with the chunks we emit from the zip generation.  This is a swagger/browser issues, so we'll either need an extra setting for swagger or some other solution.

[2018-01-09 15:57] manthey commented on #2561
See https://github.com/swagger-api/swagger-ui/issues/1605

[2018-01-10 18:25] #2561 closed

[2018-01-11 20:26] danlamanna commented on #2385
Updated list:

- celery_jobs
- jquery_widgets
- metadata extractor (to be migrated out of core)
- geospatial (to be migrated out of core)
- Mongo search
- Vega
- Item preview

[2018-01-12 02:58] brianhelba opened #2567 "Prune old test plugins"
https://github.com/girder/girder/pull/2560 moved test plugins to `test/test_plugins`. After all core tests are migrates to Pytest, some of these test plugins may no longer be necessary.

This issue serves as a clean-up reminder.

[2018-01-12 03:26] dorukozturk opened #2568 "Adding issue and pull request templates"
Adding issue and pull request templates can be good for standardizing issues and pull requests which might make the reviewers part slightly easier.

We can put checkboxes like other projects so that the author knows what the reviewer might look for ([example](https://github.com/tox-dev/tox/blob/master/.github/PULL_REQUEST_TEMPLATE.md)).

If makes sense I can do the first pass on this.

[2018-01-12 17:42] danlamanna opened #2569 "Vagrant shared folders cause problems with certain npm packages"
https://github.com/girder/girder/pull/2545#issuecomment-356754342 revealed a general problem with how certain npm packages can cause issues when `node_modules` is shared through Vagrant.

@brianhelba can you link to the npm issue(s) you mentioned about this?

[2018-01-17 14:50] jbeezley opened #2573 "Users can revoke their own access"
I'm not sure if this is a bug or feature.  For example as a non-admin, if you PUT `{}` to `/folder/:id/access`, you will lose all privileges on the folder, and you cannot get them back.

Would it make sense to modify the code in [setAccessList](https://github.com/girder/girder/blob/master/girder/models/model_base.py#L1012) to retain the current user's admin permissions if he or she is not an admin

[2018-01-18 21:43] danlamanna commented on #1167
To summarize an in person discussion, it appears that `passlib` also supports the TOTP specification: https://passlib.readthedocs.io/en/stable/lib/passlib.totp.html.

[2018-01-22 20:59] Pierre-Assemat opened #2579 "Add path information about each results displayed in the Search Result Page."
![screenshot-2018-1-22 girder](https://user-images.githubusercontent.com/29961430/35244045-d281cd68-ff8c-11e7-9c31-ee704ff8b005.png)

As you can see, we don't have any possibilities to compare some of these results. If we could store their path within the server and then display some information aside of each result name, it would bring a precious benefit to the `search result view`

[2018-01-22 21:03] Pierre-Assemat commented on #2579
As @brianhelba had bring up, we could maybe use a backbone view for each results too, and that also could contain the main information needed in this case as :
- type
- collectionName
- icon
...

[2018-01-22 21:42] brianhelba opened #2580 "Unify Docker images for Python 2 and 3"
The Dockerfiles for Python 2 and Python 3 versions of Girder are nearly identical, and it would be easier to maintain if there was only one Dockerfile. This would also make it simpler and lower-risk for downstreams to use Girder's Docker image, as there'd be simply one image, which provided both Python 2 and 3 within it.

This would grow the image size by a few MB, as both development headers and

[2018-01-22 21:44] brianhelba commented on #2580
For maximum compatibility, perhaps it'd be best to make Python 2.7 be the default version of the `latest` and release images. This way, existing users of the Python 2 image would not have any risk of breakage. Users of the `latest-py3` would be expected to switch to `latest` and update their `docker run` invocation in order to continue getting the latest builds.

@cjh1 Would this be acceptable to

[2018-01-22 21:47] cjh1 commented on #2580
@brianhelba Yes, I could update things accordingly.

Reducing the image size is something I would like see, #2403, is the image size increase really only a few MB?

[2018-01-23 13:53] kotfic commented on #2580
Personally i'd like to see the ```latest-py3``` tag stick around,  but i don't see why the Dockerfile.py3 couldn't be significantly reduced in size,  E.g.
[code]

Unless that effects the version it will automatically build from on dockerhub (i.e.  if girder/girder:latest-py3 builds before girder/girder:latest)?

[2018-01-23 18:40] #2516 closed

[2018-01-24 18:10] danlamanna commented on #2403
I added some of my Alpine experimentations to [this branch](https://github.com/girder/girder/compare/slimify-docker-images), running our regular Dockerfile yields an image that's 1.68GB, the Alpine version is 1.02GB.

[2018-01-25 19:28] danlamanna commented on #2530
I have a local branch that addresses this issue, I'll push it for feedback when it's functioning correctly.

[2018-01-25 19:29] zachmullen commented on #2530
awesome!

[2018-01-26 13:27] jbeezley opened #2587 "Warn users before revoking their own access to a resource"
We have determined that users should be able to revoke their own access to a resource through the `/access` endpoints.  In the client, it would be nice to warn users when they are about to perform an action that they cannot undo (without help from an admin).

[2018-01-26 13:47] jbeezley opened #2588 "Client shows an error when browsing to public resources in unshared folders"
Placing public folders inside private folders is a supported mechanism for creating "hidden folders".  I have created an example of this on data.kitware.com:

An item in a public folder in a private folder:
https://data.kitware.com/#item/5a6b2e6c8d777f0649e03ad6

When browsing to this as a regular user the page is displayed, but an access error message is displayed.  As an anonymous user, the page

[2018-01-26 13:54] jbeezley opened #2589 "Add tests asserting the behavior of "hidden folders""
Related to the behavior described in #2588.  As a supported use case, we should add explicit assertions that hidden folder access control works correctly.  Of particular concern are the `/resource/path/:id` and `/resource/lookup` endpoints.

[2018-01-26 17:07] brianhelba opened #2590 "Static root should be set at Webpack build time"
Webpack needs to know the URL prefix to where static content is served, in order for `file-loader`, etc. to resolve included assets to a JS URL string.

Since the `staticRoot` is currently allowed to be set dynamically, it must be set at JS load time by assigning a value to `__webpack_public_path__`. Ideally, this could be assigned in a JS file which was included only from Girder's Webpack entry p

[2018-01-26 17:09] brianhelba commented on #2590
@girder/developers Who is currently setting `staticRoot` to something else in their deployments? How about `apiRoot`?

This is going to require a breaking change. I don't know whether we'll need to do it under Girder 3, or just call it a bugfix and do it sooner. Either way, I'd like to better understand the actual use cases around this feature (setting `staticRoot` and `apiRoot`).

[2018-01-26 17:14] zachmullen commented on #2590
[This used to be a config file setting](https://github.com/girder/girder/blob/1.x-maintenance/girder/conf/girder.dist.cfg#L22) but was changed as part of the route table feature. Not sure whether anyone is actually depending on a dynamic route for the static content, but I am in favor of removing it.

[2018-01-26 17:15] brianhelba commented on #2590
Removing it entirely, or moving it back to the config? I'm advocating the latter.

[2018-01-26 17:16] zachmullen commented on #2590
Moving it back to the config file (sorry for the ambiguous language)

[2018-01-26 18:37] manthey commented on #2590
If/when changes are made, we should add some explicit tests for proxy environments where the external url is not the same as the internal url.

[2018-01-26 20:11] msmolens commented on #2569
Indeed.  I'm hitting errors running `vagrant up` like the following during the "girder : Build Girder (web)" step:
[code]

[2018-01-29 21:04] manthey commented on #2558
I think we have explained the behavior (and fixed some links to use the right elements, too).  If anyone disagrees, please reopne.

[2018-01-29 21:04] #2558 closed

[2018-01-29 21:42] #2339 closed

[2018-01-31 16:16] Pierre-Assemat commented on #2588
I also noticed that if you try to access to both the folder and the item with no user log in, the behavior is the same, but this time the error is :
`401 Unauthorized {"message": "Read access denied for folder 5a71ea7abf0ca602cd6389ba (user None).", "type": "access"}`.

[2018-01-31 16:34] zachmullen commented on #2588
My suggestion would to augment `/folder/:id/rootpath` to accept a new parameter that defaults to false. If this parameter is true, rather than raise an exception if an ancestor has a permission failure, the recursion would stop and return `None`. For example, if there was a chain like

`Coll -> F1 -> F2 -> F3 -> F4`

and the user was granted access to F2, F3 and F4 but not F1, then calling `/folde

[2018-01-31 16:35] zachmullen commented on #2588
Also we'll need to make sure the "Go up one level" button on the right disappears if the parent is `None`.

[2018-01-31 16:40] brianhelba commented on #2588
@zachmullen Why not make `/folder/:id/rootpath` always go as far as possible, returning null values when access to a parent is restricted?

I think changing the return behavior based on arguments is quite confusing and anti-RESTful (though I've seen this in other places in Girder). IMO, if we want different behavior, another endpoint should be added.

[2018-01-31 16:44] Pierre-Assemat commented on #2588
So the recursion would stop at the first unauthorized resources. In this case, if the user was granted access to F1, F3 and F4 but not F2, do the call would return:

`[{...F1}, None, {...F3}]` or just `[None, {...F3}]` ?

[2018-01-31 16:49] zachmullen commented on #2588
@Pierre-Assemat I had envisioned that it would stop at the first failure, however I can see the utility of continuing past that and showing everything up to the root that the user has access to, so I'd be fine with doing that instead, which lets clients decide to render it either way if they want.

@brianhelba I'm not convinced by your argument about RESTful purity (I don't think it exists, or if

[2018-01-31 17:16] brianhelba commented on #2588
@zachmullen Apologies for derailing the issue a bit, but I want to address this architectural concept.

To clarify, my argument is not about RESTful purity (as indeed most of Girder's HTTP API is not truly RESTful), but rather functional clarity. Function parameters ought to provide the data that a functional transformation operates on, but should try not to significantly change the nature of the

[2018-01-31 17:20] brianhelba commented on #2588
@zachmullen @jeffbaumes I could go either way about stopping vs continuing on access failures, but since folders also already return their `baseParentId`, we should actually continue all the way to the `baseParent` and return that too.

So, given a true hierarchy: `[C1, F1, F2, F3, F4, F5]`
If we keep going, I could see an endpoint returning: `[C1, F1, None, F3, None, F5]`
If we stop, I see this w

[2018-01-31 17:38] zachmullen commented on #2588
Exceptions are always conditional, making them conditional based on parameters isn't that much of a stretch for me from having to describe all of the conditions that can cause them otherwise.

[2018-01-31 20:54] manthey opened #2601 "Specify sort in resource search endpoint"
Currently, you can't specify a sort order in the `resource/search` endpoint.  For text searches, the sort order is defined based on a match score.  For prefix searches, however, there isn't a sort mode, and it could be desirable to specify one.

In general, when we specify sort modes via the paging parameters, it would be nice to allow them but still have None as the default.

Broadening the scope

[2018-02-02 18:57] Pierre-Assemat opened #2603 "Add a sanity check to detect early if name of a plugin repo is correct"
That will permit to avoid big change and error while building the web client for external girder plugins

[2018-02-02 19:07] mgrauer commented on #2603
e.g., currently if a plugin has a `-` in the name, the error message from the build is a bit cryptic:

Unexpected token: operator (-) [plugin.min.js:1,24]`

[2018-02-02 19:18] manthey commented on #2603
This could probably just be `name.isidentifier() and not keyword.iskeyword(name)`, except that `isidentifier` is a Python 3 function.  [python_future](http://python-future.org/_modules/future/utils.html) shows that this can be handled as `re.match(r'[a-zA-Z_][a-zA-Z0-9_]*$', name)`.

[2018-02-03 00:20] mgrauer commented on #2603
@Pierre-Assemat This would be a good one for you to fix--and that way you are helping your past self!

⏳

[2018-02-05 19:19] zachmullen opened #2604 "girder-client API docs not building on RTD"
They are supposed to be in [this section](http://girder.readthedocs.io/en/latest/python-client.html#further-examples-and-function-level-documentation), but it's blank.

@brianhelba as part of your recent fixes to get our RTD docs building properly, did you notice this issue?

[2018-02-06 00:24] brianhelba commented on #2604
#2577 should fix this. I'll try to finish that up soon.

[2018-02-06 19:20] danlamanna opened #2606 "Allow girder-shell to run an arbitrary python script"

[2018-02-13 19:04] manthey commented on #1603
I'd like to eventually address this issue (also https://github.com/DigitalSlideArchive/HistomicsTK/issues/173).

This could be done by adding appropriate headers (a la PR #2105), but the perennial problem is that we have to enumerate all resources and filter them by permissions in order to determine how many of them are available to the user that is making the request.

Girder allows access if:
-

[2018-02-13 19:36] manthey commented on #1603
We could allow endpoints to return a mongo cursor instead of a list.  This would get a header (`X-Total-Count`, perhaps) set to `cursor.count()` and then the cursor would get cast to a list as part of `filtermodel` or `endpointDecorator`.

[2018-02-13 22:29] brianhelba commented on #1603
For large databases, I'm not sure if this would scale at all. Passing thousands of elements to `$in` is going to break MongoDB at some point.

Your point about `$lookup` (a.k.a. the `JOIN` operator) not working on sharding is to me a reason to consider dropping support for allowing access-controlled models to be sharded. We're likely going to hit the scaling limits of using `$in` well before we hi

[2018-02-14 18:00] EricCousineau-TRI opened #2611 "Add mention of WSGI + GIL caveats, especially for Elastic Beanstalk"
@jamiesnape found that we were getting crashes from Girder on a deployed Beanstalk instance due to WSGI and GIL shenanigans indicated here:
http://modwsgi.readthedocs.io/en/develop/user-guides/application-issues.html#python-simplified-gil-state-api

He followed these instructions and we have been getting fewer failures on Beanstalk - there are still some, but we are trying to figure out what their

[2018-02-14 18:11] danlamanna commented on #2611
@EricCousineau-TRI Thanks for this Eric. I had expected there were areas within Girder which would violate some of the constraints of WSGI since our primary method of deployment is using CherryPy's HTTP server via a proxy pass, but I hadn't yet run into concrete issues.

@jamiesnape Could you detail the specific areas you've had problems with so far?

[2018-02-14 18:15] danlamanna opened #2612 "Move CLI scripts into central module"
This could be named `cli` or `bin`. Related to #2596 #2552.

[2018-02-14 18:28] jamiesnape commented on #2611
A `/var/log/httpd/error_log` full of `Script timed out before returning headers: wsgi.py` initially. Those were reduced by changing `.ebextensions/wsgi.config` to
[code]

[2018-02-14 19:14] danlamanna opened #2613 "Rename async property of events daemon"
In Python 3.7, `async` will become a reserved keyword and Girder will not start due to [this usage](https://github.com/girder/girder/blob/31fee2e47c8b771f34692dee9efb358ce23c8151/girder/events.py#L73). We should probably rename to `async_` or something similar.

[2018-02-14 19:23] zachmullen commented on #2613
Good find. We should make sure to address this for 3.0

[2018-02-14 19:46] jamiesnape commented on #2611
Also seeing this fairly frequently:
[code]

[2018-02-15 17:59] manthey commented on #1603
@brianhelba, @zachmullen  I pushed a WIP branch called `find-with-permissions`.  I'd love to hear some feedback on it before I bother expanding tests and turning it into a PR.

[2018-02-15 18:16] brianhelba commented on #1603
Could you make it a WIP PR? It's sometimes easier to review and discuss that way.

[2018-02-15 19:51] manthey commented on #1603
PR #2614.

[2018-02-20 17:30] brianhelba opened #2618 "When pydicom 1.x is released, update requirements"
Once it's released upstream, the `pydicom` requirements at `plugins/dicom_viewer/requirements.txt` and `plugins/dicom_viewer/requirements.txt` should reference the 1.x release (rather than the release candidate) as a minimum version.

[2018-02-21 19:50] msmolens opened #2623 "modelParam() no longer generates model-specific descriptions"
Previously, omitting the `description` parameter in `modelParam()` resulted in an automatically generated description like "The ID of the &lt;model&gt;.", where the model name was determined automatically:
https://github.com/girder/girder/blob/ffc49c0c5f92b4b4372512b015d24e83c4f4ef47/girder/api/describe.py#L295-L296

Following https://github.com/girder/girder/commit/aa47c00e88ee63a42f8ee47bfe561ab

[2018-02-22 04:56] EricCousineau-TRI opened #2624 "Girder crashes on ElasticBeanstalk (unclear precisley when / why)"
Related to (but not resolved by) #2611

As mentioned, we have been getting failures where Girder crashes on ElasticBeanstalk. In the past week, it seems that it only really happens when using web interface, possibly while modifying user information (e.g. adding API keys).

I don't believe it happens when downloading files repetitively (which has a mix of REST calls), and will later confirm if it h

[2018-02-22 05:05] EricCousineau-TRI opened #2625 "Unable to see certain users' API keys (from both user account and admin console)"
I can view / edit the API keys for my user account and user accounts for other people on our Girder server - we all registered our accounts using OAuth for GitHub.

I then created a "robot" user (which has read-only access, and is only for things like CI), and registered it using my email address (my actual email is `user@domain`, but I use `user+robot@domain` for the robot since it forwards to th

[2018-02-22 13:47] zachmullen commented on #2625
Hi @EricCousineau-TRI , thanks for the report. Could you post the full screenshot of what you see when you open the API keys page as the robot user?

And if you open the developer tools in your browser, do any errors appear there in the console?

[2018-02-22 18:58] EricCousineau-TRI commented on #2625
Certainly!

Here's a screenshot of the bot user, logged into their account using Private Browsing in Firefox:
![image](https://user-images.githubusercontent.com/26719449/36557995-bb2eb6c2-17d7-11e8-97c6-7af85ea9666b.png)

There are currently 3 API keys in use by this account (at least as far as I can remember).

I visited a URL of the form:
`https://${my_server}/#useraccount/${user_id}/apikeys`

T

[2018-02-22 19:52] zachmullen commented on #2625
This is pretty mysterious... I'm guessing it is related to the WSGI configuration issues on the instance. Hopefully resolving that will resolve this as well.

[2018-02-22 19:56] danlamanna commented on #2624
@EricCousineau-TRI I spoke with @jamiesnape about this and we have some ideas about what's going on.

My suspicion is that it's caused by the notification stream (invoked from the web client) occupying too many request threads/workers. If this is the case, then running your script and/or abritrary API calls wouldn't cause any problems since they're short lived requests. The current fix likely invo

[2018-02-22 19:57] EricCousineau-TRI commented on #2625
Gotcha, fingers crossed!

I tried querying the REST service for API keys, and it seems that even this layer lost track of the API keys.

Querying `https://${my_server}/api/v1/api_key?userId=${user_id}&limit=50&sort=name&sortdir=1` (via `https://${my_server}/api/v1#!/api95key/api_key_listKeys`) yields an empty list; querying this for my user ID yields a full list.

Is there any other mechanism by w

[2018-02-22 19:58] zachmullen commented on #2625
Are you sure that the API keys for the robot ever got saved? One could manually look in the database to see if they are present there.

[2018-02-22 19:59] EricCousineau-TRI commented on #2625
I believe so, in that the API keys are being used now.

[2018-02-22 20:05] EricCousineau-TRI commented on #2624
Sorry for my naiveté, but is the notification streaming critical? Is it for push notification style stuff only (like seeing changes someone else makes), or is it also the mechanism by which outgoing AJAX-ish requests show their results to the user?

[2018-02-22 20:06] sebastienbarre commented on #946
Feel free to hit me up if you decide to discuss it in a meeting. We have migrated the KWiK database schema 226 (!) times as of today, and most often live during the day while you guys are using the app.

[2018-02-22 21:02] zachmullen commented on #2624
It's just for push notification stuff, it's not critical.

[2018-02-22 21:30] EricCousineau-TRI commented on #2625
Jamie and I back-traced the API keys that were created by the bot by searching in the database, and found that these keys were somehow redirected to *my* account (meaning that the bots inadvertently have more permissions).

Can I ask which factor most likely contributed to this?
The fact that I created the first API key for the bot using my account (editing the user in the admin console), or the f

[2018-02-22 22:04] Pierre-Assemat opened #2626 "Full text search doesn't work with '_' underscore names"
When you search for a resources which contain underscore, the search doesn't succeed:

`0_macosx_amd64_ext2_0.0.1` for instance

But it does with `0 macosx amd64-ext2-0.0.1` (for space or dash '-')

[2018-02-22 22:08] zachmullen commented on #2625
If you were logged in as the robot in one tab, but then logged in as your main user in another tab, the cookie would have been overwritten, which would explain something like this.

[2018-02-22 22:13] EricCousineau-TRI commented on #2625
Unfortunately, I don't think that was the case :/

I had two browser sessions, one account per browser session; in my nominal session, I was logged into my (admin) user account, and in a private browser session, I was logged into the bot user account.
I distinctly remember adding an API key to the bot user account, seeing one key on the `API Keys` tab after adding the key, and then returning the p

[2018-02-23 13:53] AlexanderKoehn opened #2627 "Add endpoint to search for users within a group"
I have the use case to query for users which are member of a specific group.
Currently you have to:
a) get the full member list via /group/{id}/member and filter on client side
or
b) use /resource/search?q=query&mode=prefix&types=['user'] and then check if the returned users are in the list from a)

Would be great if there is a more powerful /user/search endpoint

[2018-02-23 14:06] mgrauer commented on #2627
@AlexanderKoehn Thanks for the report.

Can you describe your ideal inputs and outputs for such an endpoint? It isn't clear to me yet what you want.

[2018-02-23 14:23] AlexanderKoehn commented on #2627
I want to search by name and specify the group(s) the users matching the query must be members of.

[code]

I would get a list of users matching 'Doe' AND that are members of group A.
Of course one soon would want to have arbitrary logical group combinations, like member of (A AND B) OR not C.
Not sure how to model this.

[2018-02-23 14:30] jeffbaumes opened #2628 "[RFC] Make new HierarchyWidget more universal/consistent"
The DataBrowser (HierarchyWidget in Girder 2) should be the heart of browsing the data hierarchy in Girder (and downstream apps). But as-is in Girder 2, full data browsing involves several views (Collections list page; Users list page; DataBrowser to see Collection, User, Folder contents; Item view to get to Files). I suggest considering unification of more of these views during the next frontend

[2018-02-23 15:07] jbeezley commented on #2628
My experience developing clients using Girder's API (both web and otherwise) has been that it is difficult generalize these things because the data model is not consistent between the different entities.  As an example, the parent id of a folder is stored in `parentId`, but the parent id of an item is `folderId`.  In my experience, most of the code you end up writing is related to handling these d

[2018-02-23 15:29] zachmullen commented on #2628
One thing we'd need to consider is search-related UI. Currently our supported search modes are different on the top level listing pages than they are within an individual collection or folder or user.

[2018-02-23 15:46] zachmullen commented on #2628
I added this to the 3.0 milestone just so we don't lose it, not necessarily because we need to hold up 3.0 on the new web client.

[2018-02-23 16:13] jeffbaumes commented on #2628
As another example of code similar to @jbeezley's branch, I implemented model normalization in my React prototype by creating a fetchResourcePath() and fetchChildren() function for each model type. I even extended this to groups so group membership is rendered with the same code as listing folder contents (that might be going a bit too far). I did nothing to support pagination.

https://github.com

[2018-02-26 14:18] jbeezley commented on #2626
This is a limitation of mongo [text indices](https://docs.mongodb.com/manual/core/index-text/#tokenization-delimiters).  To fix this issue, we will need to store the name under a different key with underscores replaced by spaces and perform the search on that.

[2018-02-26 14:43] jbeezley commented on #2612
Fixed by #2616.

[2018-02-26 14:43] #2612 closed

[2018-02-26 14:48] jbeezley commented on #2136
Fixed by #2550.

[2018-02-26 14:48] #2136 closed

[2018-02-26 15:01] jbeezley commented on #2390
I think all of the instances of relying on the `ProvidePlugin` have been removed from girder's source; however, it is still necessary for shimming certain jquery plugins.  We could either:
1. Scope the `ProvidePlugin` configuration to apply only to those jquery plugins that require it.
2. Use the [imports-loader](https://github.com/webpack-contrib/imports-loader) to inject the jquery object into t

[2018-02-26 15:05] zachmullen commented on #2390
Should we close this then? It's going to become moot in 3.x with the new web client anyway since we won't be using jQuery at all.

[2018-02-26 15:06] jbeezley commented on #2573
Closed in favor of #2587.

[2018-02-26 15:06] #2573 closed

[2018-02-27 21:41] manthey commented on #2475
This is https://github.com/cherrypy/cherrypy/issues/1662.

[2018-02-27 21:48] manthey commented on #2326
This was done in PR #2330.

[2018-02-27 21:48] #2326 closed

[2018-03-05 19:36] mgrauer opened #2639 "Add a config option to disable web client notifications"
This is mainly to preserve server side resources, ideally this logic could have a small API surface area.

Perhaps just some quick error handling and cleanup on the client side as well.

[2018-03-05 19:47] msmolens opened #2640 "SearchFieldWidget search fails for custom type"
Searching fails--no results are returned--when `SearchFieldWidget` is initialized with a custom type. For example:  https://github.com/girder/covalic/blob/1c4805be1f5c72346220bb6d0dc87a9be14e7354/web_external/views/body/ChallengesView.js#L37

This is a regression, as noted in https://github.com/girder/girder/pull/2450#pullrequestreview-100904315

[2018-03-05 20:00] danlamanna commented on #2639
One thing that would be really nice in the future is a built in list of notifications that a user has received. This would be something like hangouts.google.com has, and we could load past events on initial page load for users.

[2018-03-05 20:01] #2589 closed

[2018-03-05 21:54] danlamanna opened #2641 "Create 2.4.1 release"
Right now `pip install girder==2.4.0` installs the latest CherryPy which is subject to the problems described in #2486.

[2018-03-06 05:26] brianhelba opened #2643 "Fix documentation type references and consider enabling Sphinx's nit-picky mode"
Many places in the Sphinx docs use invalid references in `:type:` sections.

If / when Girder drops Python 2.7 support, adding type annotations will fix this in the most robust way.

Understanding [Sphinx's Python Domain](http://www.sphinx-doc.org/en/stable/domains.html#the-python-domain) is critical for this task. Additionally, parts of the type syntax [proposed by PyCharm](https://www.jetbrains.

[2018-03-06 05:27] brianhelba opened #2644 "Consider using Napoleon for more legible Python docstrings"
See: https://sphinxcontrib-napoleon.readthedocs.io/en/latest/

[2018-03-06 05:28] brianhelba opened #2645 "Consider using pathlib to represent file paths"
Python 3.4+ has [native support for pathlib](https://docs.python.org/3/library/pathlib.html), and [a backport exists](https://pypi.python.org/pypi/pathlib2/) for Python 2.7.

This library allows filesystem paths to be represented significantly more elegantly.

[2018-03-06 05:30] brianhelba opened #2646 "Consider adding support for sphinx-autobuild"
Per a suggestion from @danlamanna , see https://github.com/GaretJax/sphinx-autobuild

[2018-03-06 16:02] #2618 closed

[2018-03-06 17:47] danlamanna commented on #2639
One approach here would be to use the [503 Service Unavailable](https://http.cat/503) status code if it's disabled. Then use [EventSource.onerror](https://developer.mozilla.org/en-US/docs/Web/API/EventSource/onerror) to gracefully close the event stream.

[2018-03-06 18:12] zachmullen commented on #2639
I like the idea of the server responding in some way to indicate to the client that it should not attempt to reopen the stream. However, I'd prefer to use something other than 503, in order not to overload that signal, which could potentially be used in cases where the stream *should* be reopened later.

[2018-03-06 18:33] zachmullen commented on #2639
Here are some alternatives:

* 4xx status, maybe 403
* A special header in the response
* A special event payload that indicates the client should not try to reconnect

[2018-03-06 18:44] mgrauer commented on #2639
410 Gone ?
420 Enhance Your Calm?

[2018-03-06 18:46] zachmullen commented on #2639
410 would be a fine choice. 420 is meant for rate limiting.

[2018-03-06 18:47] cjh1 commented on #2639
418 I am a teapot?

[2018-03-06 20:38] brianhelba commented on #2639
This is a server error (the feature is not enabled on that particular Girder instance's server), so it needs to be a 5xx error code.

I think either of:
* [501 Not Implemented](https://httpstatusdogs.com/img/501.jpg)

* [503 Service Unavailable](https://httpstatusdogs.com/img/503.jpg)

would be reasonable.

We should also note that the condition is indeed semi-temporary, as it is possible that the

[2018-03-06 20:44] zachmullen commented on #2639
Hm, I had thought of this more as a 4xx class of error, since it's not anything explicitly wrong with the server, but rather an instruction that a client behavior is invalid, but I see your point, so I'd be fine with 5xx. I'd be more comfortable with 501 than 503, though.

[2018-03-06 20:46] zachmullen commented on #2639
To explain why I don't want to use 503, imagine a future in which Girder server is broken into microservices, and the notification is a microservice. In that scenario, the reverse proxy for the services might respond with a 503 if it can't connect to the notification service, but in that case, the client *should* probably attempt to reconnect later.

[2018-03-06 21:34] brianhelba commented on #2639
I'm not *that* attached to 503, but the rationale for it holds even in the microservice example. If we know it will be coming up later (e.g. due to maintenance), we'd include a `Retry-After` header (which is a just a suggested interval, not a guarantee). If it's down because the microservice is misconfigured or not installed, then 503 without a header would still work, because it could always be f

[2018-03-06 21:59] zachmullen opened #2648 "Use yarn for web client install, at least for CI"
In 2.x, this could just be maintaining a yarn.lock alongside our package-lock.json and allowing clients to use either yarn or npm. We would switch our CircleCI builds to use yarn and deprecate npm, and make an announcement on discourse that we plan to drop support for npm in a future major release.

[2018-03-06 22:36] waxlamp commented on #2648
Does anyone have specific experience in switching from npm to yarn? I'm curious about (1) what the realized benefits are and (2) any pain points in making the switch.

[2018-03-06 22:37] jcfr opened #2649 "Decentralize plugin documentation"
### observations

Currently documentation of all plugins is expected to be added into a central location: [docs/plugins.rst](https://github.com/girder/girder/blob/2aff9f954bdfd613d053759bbc5b524b01ef172c/docs/plugins.rst)

### the issue and motivation to address it

Often plugin are developed in standalone repository before eventually being integrated [1] into Girder, ensuring the plugin documenta

[2018-03-06 22:37] zachmullen commented on #2648
I did on girder-vue, it was extremely simple, but doing it in Girder could be significantly more difficult since we do weird stuff with plugin dependency installation. For that reason it might be better to wait until 3.0 to even try this.

[2018-03-06 22:43] brianhelba commented on #2649
To repost my comment here for reference:

[2018-03-06 22:52] brianhelba commented on #2648
I do not believe this is possible at all until Girder 3. The current system of using Grunt to `npm install plugin_dep_1 plugin_dep_2 ...` has no analog in `yarn` by design. Yarn only installs directly from a `package.json` file (which #2552 creates dynamically), and will not install one-off packages directly to a project. See #1743 for more info, but IMO, this is all for the best, as Girder's curr

[2018-03-06 23:18] jcfr opened #2650 "RFC: Support for convenience targets in a top-level Makefile"
### motivation

To streamline the developer experience, in python projects I maintained, I conveniently support command like these ones:

[code]

This help as it provides a consistent interface to all the projects I maintained.

### is it a common practice ?

It is also a common practice, you will find a `Makefile` in a lot of projects:

* https://github.com/pandas-dev/pandas/blob/master/Makefile

[2018-03-07 18:07] superlib opened #2651 "Show quota when creating authorized upload"
When you create an authorized upload for a given folder, there is no indication of how much space you have remaining of your quota.  It would be good to let the user know how much space they have available for this upload.

This became an issue when a customer was unable to upload using a link I provided, and was given the attached error message.

![girder_full_error](https://user-images.githubuse

[2018-03-07 18:11] superlib opened #2652 "No indication when quota is reached"
When looking at your personal collection, there is no indication of how much space is used/available; you have to navigate to a secret hidden 'quota' message.  It would be nice to have some indication of how much space is available, particularly when the quota is close to being reached.

A good place to display this might be below the last folder listed; it's unobtrusive, but not hidden.

[2018-03-07 20:50] AaronV77 opened #2653 "Collections"
Creating a collections does not show in either my public or private folder in Girder live site.

[2018-03-07 21:45] mgrauer commented on #2653
Hi @AaronV77 , thanks for the report.

A collection is a set of folders that does not live under any particular user, so a collection will not appear under your user's public or private folder. If you click on the collections list in the nav menu, you should see your new collection appear there (assuming you have completed the collection creation process).

[2018-03-07 22:49] AaronV77 commented on #2653
Hey @mgrauer,

First, when you say "A collection is a set of folders that does not live under any particular user",  how is that so? When I click on the access control under a collection that I created, the permissions are under my name, so is it not safe to say that the collection is in my name?

Second, then why is there a folders for public and private? What is expected to be added to this file

[2018-03-07 23:09] mgrauer commented on #2653
I think it would help for you to read through the [Girder user guide](http://girder.readthedocs.io/en/latest/user-guide.html), as a common reference, and even so it is confusing to talk about.

Folders ultimately live under some root location, either a specific User or a specific Collection. Collections are top level objects and do not live under a User. Your User has by default two folders, a Pub

[2018-03-07 23:09] #2653 closed

[2018-03-11 09:30] Trophime opened #2657 "Add support for Fiware keyrock IDM"
Hi,
I would like to know how to add new authentification (eg gitlab,...) for girder.
In particular I would like to have support  [FiWare Keyrock IDM](https://fiware-idm.readthedocs.io/en/latest/index.html).

Could you please add support for this idm or give some hints on how to implement a new oauth?
Best regards.

C

[2018-03-11 16:04] zachmullen commented on #2657
Hi @Trophime ,

Adding another OAuth provider is pretty straightforward, all of the code would live in the [oauth plugin](https://github.com/girder/girder/tree/master/plugins/oauth). You would add a new provider in the [providers package](https://github.com/girder/girder/blob/master/plugins/oauth/server/providers/__init__.py), and basically just follow any of the examples of the modules in that pa

[2018-03-12 15:04] zachmullen opened #2658 "No longer possible to restart a single step of a CI build"
See for example: https://circleci.com/gh/girder/girder/8919

The cache restore step fails. Is there anything we can do in our CircleCI config to support this?

[2018-03-12 20:07] brianhelba commented on #2658
The `Attaching Workspace (skipped)` step is where the problem actually is. That step is showing:

Accordingly, the build filesystem is not getting attached and subsequent build steps fail.

This seems like a bug in CircleCI, but how exactly are you restarting the single step? I believe there are a few different ways to do it, and I'm curious whether all of them fail to attach the workspace.

[2018-03-12 20:31] zachmullen commented on #2658
I was hitting rerun from the build list.

[2018-03-12 20:39] brianhelba commented on #2658
There are a few different ways to restart builds, and it's possible that what you're choosing may be causing the build to execute outside a workflow context. If we can get precise steps to reproduce this, it sounds like a reportable bug in CircleCI.

[2018-03-12 23:00] #2658 closed

[2018-03-14 15:36] jbeezley opened #2664 "Terms plugin client test occasionally failing"
There is a failure in `web_client_terms.terms` that seems to be occurring with some regularity.  For example, https://circleci.com/gh/girder/girder/8989.

[2018-03-14 18:41] manthey opened #2665 "hashsum_files could include the filename"
The sha512sum CLI will locate a file and validate it if the hashsum file is of the form `<hash>  <file name>\n`.  We emit hashsum files with just `<hash>\n`, which is what CMake's external data consumes.  We should consider adding an option to generate the hashsum file which includes the filename as an option.

This could be exposed in the UI with a second key icon with a tooltip to explain the di

[2018-03-14 18:52] brianhelba commented on #2665
+1 to this feature, as the integration with standard tools like `sha512sum` would be great.

I'd like Girder to be parsimonious, and avoid options for returning the same data in slightly-different formats, particularly in light of the [Robustness principle](https://en.wikipedia.org/wiki/Robustness_principle). Ultimately, I think it might be cleaner to update Girder's returned hashsum file format a

[2018-03-14 18:58] johnkit commented on #2665
+1. The standard/expected file format is `<hash>  <file>`, so people who want to use the hash to check their download have to manually construct the a file.

Regarding the UI, are there other end-user reasons for downloading the sha file besides checking a download? If not, I would vote to replace the current icon with a (new) function to download the sha file in standard format (i.e., sha plus fi

[2018-03-14 19:09] zachmullen commented on #2665
The primary use case for this endpoint isn't to check a file hash, it was developed for use within ExternalData, so that small plaintext references to large blob data could be stored inside version control systems. Using these files to check hashsums wasn't really part of the design, though it would be nice for that to "just work" with common hash check utilities.

We also have clients of this plu

[2018-03-14 19:16] zachmullen commented on #2665
Adding some of the power users of this plugin + ExternalData so they have a chance to weigh in:

@thewtex @jcfr

[2018-03-14 19:19] johnkit commented on #2665
1. We certainly should not break the current endpoint.

2. In terms of UI: As an _end-user_ of ExternalData, I have never had to go into Girder and click that icon. But if the current icon is needed to facilitate developers in adding or modifying ExternalData, then sure, I would change my vote to have 2 icons.

[2018-03-14 19:45] jcfr opened #2666 "RFC: Display hashsum in item info when contain *one* file"
When an item contain only **one** file, I suggest we display the SHA in the item information.

When an item contain contain **multiple** files, we keep the behavior the way it is.

The idea is to improve the UI to help users based on context.

![hash_sum_displayed_in_info](https://user-images.githubusercontent.com/219043/37427073-9a4a6f88-279e-11e8-8cdf-cbf147514dd8.png)

[2018-03-14 19:57] jcfr commented on #2665
Definitively

Generally since we can agree the idea to minimize surprise effect and avoid confusion while helping users.

Here is a possible plan:

After the improved the plugin is deployed and the first time the user click on the key icon, we could pop-up an explanation where we could ask him to select his/her preferred format for key file.

Preferring the new format would simply mean the existin

[2018-03-14 19:57] jcfr commented on #2666
xref #2665

[2018-03-14 20:10] thewtex commented on #2665
+1 to @zachmullen 's comments. The existing behavior (the content of the file, and the link to the keyfile) need to keep working the same way to avoid breaking ExternalData in ITK. We use the current UI:

  https://itk.org/ITKExamples/Documentation/Contribute/UploadBinaryData.html

[2018-03-14 20:28] jbeezley opened #2667 "Remove python-dateutil upper version when possible"
Version 1.9.8 of botocore introducted a maximum version of python-dateutil in https://github.com/boto/botocore/pull/1402.  PR #2663 addressed this by setting an upper limit for girder as well.  This will most likely be temporary, so we should periodically reevaluate botocore and revert when possible.

[2018-03-20 13:35] manthey opened #2670 "Hierarchy Widget Show More issue"
If you click on the "Show more items" link in the Hierarchy Widget several times rapidly, it does not do what is expected.  For instance, I have a folder with 10,000 items.  While seeing the first 100 items, I click "show more items" three times rapidly, wait a bit, then click it once more.  I would expect to either see the first 300 or the first 500 items.  Instead, I get items 1-200 and items 40

[2018-03-21 14:46] brianhelba opened #2671 "Future improvements for CircleCI2"
This is a catch-all for a few possible improvements:

* [ ] Consider using a more powerful machine for some jobs
  * https://circleci.com/docs/2.0/configuration-reference/#resource_class
* [ ] Get Girder tests working with Python3's `pyvenv` and `venv`
  * https://docs.python.org/3/library/venv.html
* [ ] Consider running tests on a Docker base image with browsers
  * https://circleci.com/docs/2.0

[2018-03-21 15:09] mgrauer opened #2672 "Documentation overhaul"
An RFC attempt was started and resulted in good ideas. #2257.

[2018-03-21 15:17] danlamanna commented on #2641
@jbeezley This seems right up your alley.

[2018-03-22 17:33] mgrauer opened #2674 "Add download stats to file metadata info view"
I think it would be very useful to see the download stats, should that plugin be enabled, on the file info metadata modal dialog.

[2018-03-22 17:57] mgrauer opened #2675 "Add timestamp to sftpd.log entries"

[2018-03-27 14:50] #2641 closed

[2018-04-05 20:10] zachmullen opened #2687 "Move FUSE binding lifecycle management outside girder server process"
ping @girder/developers please outline the technical plan in comments.

[2018-04-06 14:57] manthey commented on #2687
@aashish24 Doing this is a much better solution to using mapnik with FUSE than forking to process mapnik tiles.

[2018-04-06 15:07] zachmullen opened #2688 "Add --token flag to girder-cli"

[2018-04-06 17:39] manthey commented on #2687
The bulk of the Girder fuse plugin becomes `girder/cli/mount.py`.  In think the remaining functionality in Girder should move to core (not in a plugin that requires enabling).  This functionality extends `File().getLocalFilePath()` and adds a `getFuseFilePath` method (currently accessed via the fuse plugin namespace).  This latter function I would propose adding to the `File()` model.

The actual

[2018-04-06 18:05] #2688 closed

[2018-04-09 11:05] aashish24 commented on #2687
thanks, this looks like a cleaner approach.

[2018-04-09 16:24] manthey opened #2690 "ansible role doesn't work with ansible 2.5"
Ansible 2.5 introduced a bug (https://github.com/ansible/ansible/issues/37912).  There is a PR in ansible which should eventually fix it (https://github.com/ansible/ansible/pull/37973), but until then you can't install Girder outside of a virtualenv.

[2018-04-11 14:36] zachmullen opened #2692 "Proxied S3 uploads > 32GB will fail"
More accurately, any proxied upload to an S3 assetstore that is larger than 32MB * 1000 will fail. This is because the list parts function in boto that we call [here](https://github.com/girder/girder/blob/a2092ce7717094f32ab1051edac379c2db7e2ca0/girder/utility/s3_assetstore_adapter.py#L321-L330) returns at most 1000 parts, which is because the S3 API itself has that limitation.

To fix this, we sh

[2018-04-11 16:56] mgrauer commented on #2692
@brianhelba This is what I mentioned to you yesterday

[2018-04-12 21:47] kotfic opened #2693 "Girder Command Line section for Folders/Items(/Files?)"
So I was staring at the spiffy new Gitlab container registry and really  appreciating that it has a lot of boxes that are like "run this command  to pull this container" or  "run this command to login to the registry"  and it struck me that it would be totally SUPER if girder had this same kind of functionality.   Obviously it wouldn't be appropriate for all  instances so you'd want it to be a plu

[2018-04-13 00:35] brianhelba commented on #2693
I don't think this needs to be a plugin if the UI is appropriately non-intrusive and non-confusing to less-CLI-sophisticated users.

[2018-04-13 01:51] mgrauer commented on #2693
Which token should it choose?

[2018-04-13 01:52] mgrauer commented on #2693
Somewhat related to #1637. At least we could do them consistently or have general support that helps both.

[2018-04-13 18:11] kotfic commented on #2693
I would say return the token from ```token/current```  That is the same token the browser is using to maintain the session,  and then use the [newly minted](https://github.com/girder/girder/pull/2689) ```--token``` option to girder-client

[2018-04-13 18:22] kotfic opened #2694 "Respect carriage return (sans line feed) in girder job log output?"
Some popular ML libraries like to spam the crap out of the console with carriage return lines in order to show 'progress bars etc'  Would it be feasible (not intolerably hacky) to have the log output respect this?

[2018-04-13 18:27] zachmullen commented on #2694
I noticed this on your presentation this morning, and wanted to ask: do girder worker tasks think they are talking to a tty? We should indicate to them that they aren't, and then many libraries won't try to do this stuff at all.

[2018-04-13 18:37] jeffbaumes commented on #2694
In the short term, yes we should just try to make it less spammy. In the longer term, particularly with longer-lived ML training outputs like this example, we should figure out how to hook into those progress indicators to get some nice-looking HTML progress bars working in the job status page (a la DIGITS).

[2018-05-03 14:50] jbeezley commented on #826
Fixed by #2697

[2018-05-03 14:50] #826 closed

[2018-05-03 21:34] mgrauer opened #2703 "shorter path to adding members to groups"
This doesn't have to go into the current UI as it isn't urgent, but I would like a shorter path to adding members to a group. Currently I have to search for the member, then click on their name, then click on "add as member" in the dialog. It would be nice to be able to add them as a member directly from the name.

[2018-05-05 19:31] mgrauer opened #2704 "Add Administrative Policy docs"
A big hole in the Girder docs is for site administrators: people who are not necessarily sys admins who will install Girder and maintain it from the terminal, but who will want to configure the server.

There are many sections in the Admin UI under Server Configuration that should be documented, especially the Administrative Policy section, ideally in both the full Girder docs and in tooltips.

[2018-05-07 20:09] mgrauer opened #2705 "Update girder-client to girder-cli in docs"
The docs are outdated, they still mention `girder-client` instead of `girder-cli`.

[2018-05-08 13:25] jbeezley commented on #2705
I think the intent of #2596 via https://github.com/girder/girder/commit/ad627fd860e5f5df7b6cb2b33f90f06968cabe16 was to deprecate `girder-cli` in favor of `girder-client`.

[2018-05-11 17:28] fbudin69500 opened #2709 "Updating a metadata key manually doesn't remove the key itself"
When updating the name of a key in an item metadata, and refreshing the page, the old metadata key name is still listed in the metadata list. The new (updated) metadata key is listed with the value of the old (before updating) key, and the old key has the value `null`.

[2018-05-15 20:40] mgrauer commented on #2639
I'd like to bump this up in priority.

[2018-05-16 13:27] brianhelba commented on #2639
I can work on a PR for this today.

[2018-05-18 01:20] satra opened #2713 "password configuration for mongo"
would it be possible to enable a password config for the mongo db backend via the girder ui?

[2018-05-21 18:49] kotfic commented on #2690
See also: https://github.com/ansible/ansible/pull/40129

[2018-05-24 16:16] msmolens opened #2719 "User API no longer supports revoking site admin privileges"
The `PUT /user/{id}` endpoint, which updates a user's information, no longer supports revoking site admin privileges by setting the `admin` parameter to `False`:
https://github.com/girder/girder/blob/f53e907c653e4a4c59b5dc6850401d4c978987c9/girder/api/v1/user.py#L238-L242

This behavior changed in https://github.com/girder/girder/commit/1a0fa0a71bf0cfa1c19ee2c05bdbb9dad6cdb8b8.

[2018-05-24 16:42] zachmullen commented on #2719
Good catch, do you want me to fix this or are you planning to?

[2018-05-24 18:17] mgrauer opened #2721 "See all admin users in UI"
#2720, not that it is necessarily related, reminded me of something I've wanted recently.

It would be nice as a Girder admin, to be able to see in the UI, all the other users that are admins. This is especially useful when on a site with a large number of users.

[2018-05-25 13:42] satra opened #2722 "GDPR support"
i think girder is well placed to provide GDPR compliance. has anybody in the team worked on it/working on it?

from a different forum, but has some relevant pieces: https://meta.discourse.org/t/gdpr-countdown-and-compliance/87190/77

[2018-05-25 14:11] mgrauer commented on #2722
Thanks @satra , we are indeed thinking about this. I found this to be a great article to calm irritated nerves around [GDPR Hysteria](https://jacquesmattheij.com/gdpr-hysteria). I am not trying to imply in any way that we aren't taking this seriously, just that we should move thoughtfully here, and not panic.

[2018-05-25 19:27] #1977 closed

[2018-05-25 19:55] mgrauer commented on #2722
As a starting point, we could add another link in the footer that says `Privacy Notice`, and allow the site admin to set that link target in the Girder Admin settings.

[2018-05-25 21:04] satra commented on #2722
@mgrauer - indeed i like that article. and the privacy notice sounds good.

regarding a few simple steps, i think:
- privacy notice link
- creating hashed audit trails, ip logs
- providing a clear delete my account button
would all be relatively straightforward

and future: export my data + import my data would round up the features necessary i think.

[2018-05-25 21:47] mgrauer commented on #2722
I'm not sure yet what hashed audit trails are, I haven't come across those yet in my GDPR reading--can you describe what this is? We do have an [audit trail feature](https://github.com/girder/girder/pull/2702) currently pending, I doubt we'd want to expand the scope of that, but it could be something to build on.

The problem with ip logs is that it is also a deployment concern and not just a Gird

[2018-05-26 20:22] mgrauer opened #2723 "GDPR support Privacy Notice link"
See #2722.

This issue is to create a Privacy Notice link at the footer of Girder, where the link target can be set as a system config property in the Admin UI.

This requirement should be relatively straightforward and well scoped compared to some of the other GDPR needs, so I wanted to break it out here.

[2018-05-28 18:43] #2639 closed

[2018-05-29 14:53] brianhelba opened #2724 "autoDescribeRoute doesn't support required header parameters"
The logic for `autoDescribeRoute` does not support required header parameters. Attempting to add a `.param` with both `paramType='header'` and `required=True` causes the route to always return a 400 error with the message `Parameter "..." is required.`.

[2018-05-29 17:25] #2719 closed

[2018-05-29 20:00] zachmullen commented on #2724
In fact, we don't treat parameters passed in headers in the same way as parameters passed in the query string or body, i.e. they are not passed to the wrapped function as a parameter, nor transformed by any of the arguments to `param()`; you just have to read them manually via `cherrypy.request.headers`.

We can either

1. Start treating these as normal parameters and subject them to all the same

[2018-05-29 20:11] brianhelba commented on #2724
I'd be fine with 2 if it's faster for now, as it would unblock the errors I'm encountering in #2655. However, I agree that 1 would be more consistent with the value that `autoDescribeRoute` provides, so I'd be happy to see it eventually.

[2018-05-29 20:34] zachmullen commented on #2724
I mean, the truly quick fix would be just not to document the parameter in your `Description` -- not desirable, of course, since it won't be usable via swagger, but unless that's a hard requirement then it may be OK temporarily.

[2018-05-29 20:49] brianhelba commented on #2724
In some cases, the header is mandatory, so I'd rather not render Swagger unusable in those cases. I'm fine to wait for some sort of fix to this issue, if it's possible to address soon.

[2018-05-29 21:12] zachmullen commented on #2724
I'll implement option 1, just wanting to make sure no one objected to it.

[2018-05-30 18:32] waxlamp opened #2726 "Tighten up time formatting in jobs plugin charts"
In the format for showing detailed elapsed time in the timing history and time series charts, drop the leading zeros and remove the `s` suffix when minutes and hours are included.

See [this comment](https://github.com/girder/girder/pull/2715#issuecomment-391711109).

[2018-05-30 18:33] waxlamp opened #2727 "Upgrade TableView plugin's version of datalib"
See [this comment](https://github.com/girder/girder/pull/2715#issuecomment-391711416).

[2018-06-01 14:16] manthey commented on #2727
It looks like **datalib** is being eschewed in favor of **vega-loader**.  The conversion from datalib to vega-loader is mostly straightforward, but vega-loader expects to have a `window.fetch` method, which doesn't exist in our PhantomJS testing environment.  I don't know if it exists in the latest version of PhantomJS, however adding polyfills (whatwg-fetch, for instance) allows it to work.  More

[2018-06-01 17:52] manthey opened #2729 "RFC: polyfills for older browsers"
In a recent meeting, we discussed that in some environments, users may need to run Girder using older browsers.  Our developers mostly use the very recent versions of Chrome and Firefox, and our tests are run in PhantomJS.  Changes in Girder that require more recent features (e.g., PR #2715) may break functionality for some users.

We can specify a policy that we only officially support certain br

[2018-06-01 19:01] manthey commented on #2729
For better old browser support, we also would need to change the `uglifyOptions` in `grunt_tasks/build.js` from `ecma: 6` to `ecma: 5`.

[2018-06-04 23:56] #2724 closed

[2018-06-05 19:18] #2723 closed

[2018-06-08 19:26] nicholsn opened #2735 "Possible write/available race condition during upload w/mongodb replicaset"
This is more of a report of an issue I think I have resolved and a request to possibly provide a better error message for mongo replicasets.

When using the girder-cli to upload a folder to a gridfs assetstore, I kept getting errors like the following:

[code]
On the serverside, I would see errors like the following:

[code]

This lead me to the following issue: https://github.com/girder/girder/is

[2018-06-12 18:47] wphicks opened #2737 "Documentation: More real-world Models example"
The [example for creating a custom Model](http://girder.readthedocs.io/en/latest/api-docs.html#models) (Cat model) might be more helpful if it showcased a more realistic/real-world example of creating a new model. Such an example could help clarify terminology in the Model documentation that might be unfamiliar to a domain specialist (e.g. "collection indexes").

[2018-06-12 19:44] #2727 closed

[2018-06-12 19:48] manthey commented on #2385
The vega plugin was updated recently, so perhaps it shouldn't be removed.

[2018-06-15 04:13] brianhelba commented on #2286
After further discussion with @danlamanna , it may be cleanest to first wait for Python 3 to be supported by all built-in plugins (to prevent new users from seeing 'broken' plugins on Python 3) and also wait for Ubuntu 18.04 to be properly supported by MongoDB and other external dependencies. At that point, we can drop quickstart support for Ubuntu 14.04, add quickstart support for 18.04, and upda

[2018-06-15 17:40] brianhelba commented on #2385
Should we perhaps move `vega` out of core instead? Having a plugin which only activates when the magic `vega` metadata field is set seems pretty niche, and the actual code / logic within the plugin is extremely minimal (it just serves to inject Vega elements into the item page).

[2018-06-15 17:58] brianhelba commented on #2737
Do we want less-fantastical examples (e.g. an `Image` model instead of a `Cat`) or more sophisticated examples (e.g. a `Litter` containing multiple `Cat` objects, an asynchronous `useLitterbox` girder_worker task [don't rush her!])?

I can see a case where the fantastical context actually serves to better highlight which concepts are core parts of Girder and associated technologies, and which are

[2018-06-15 19:46] jcfr commented on #2385
To extract commit history, you could look at what was done in https://github.com/Slicer/SlicerLegacyModules#how-to-extract-module-history-from-slicer-and-include-it-in-this-extension-

[2018-06-15 21:42] wphicks commented on #2737
I generally find documentation that provides a realistic use case provides the best combination of thoroughness and motivation, but I don't have strong opinions here. Maybe walking the user through the example from initial problem to solution would demonstrate clearly enough that there is a *custom* model being constructed. E.g. "Let's say you want to store and search for image data corresponding

[2018-06-18 20:54] mgrauer opened #2741 "improve logging"
Move from our own logging to standard Python logging, which will make our instances easier to maintain and debug under WSGI.

[2018-06-18 21:09] zachmullen commented on #2741
@mgrauer could you clarify this a bit? What is non-standard about our logging that is problematic on WSGI?

[2018-06-19 14:09] manthey commented on #2741
In the current Girder default, we capture stdout and stderr to logs (as well as letting them go to stdout and stderr).  By default, stdout gets logged at "INFO" level and stderr gets logged at "ERROR" level.

I like to see all of Girder logs in one place, rather than split between error and info logs.  We have a setting for our standard logging to set the level that goes to the "info" log:
[code]

[2018-06-19 14:33] zachmullen commented on #2741
The problem here is that `_setupLogger` is called as an import side effect when importing anything under the girder package. `_setupLogger` adds these handlers that are problematic in the wsgi entry point.

Proposed solution: the import side effect should simply be `logger = logging.getLogger('girder')` rather than `logger = _setupLogger()`. It should be up to each entrypoint to configure the hand

[2018-06-19 19:20] brianhelba commented on #2741
@manthey I agree, we should have one log file with everything, as this is far easier to capture and analyze using any sort of automated tools (it's much easier to filter one file than merge two). I think this is a change we can make to Girder right now, and hopefully it may allow us to eliminate some lines of code and associated config fields.

@zachmullen The change to call `_setupLogger` as part

[2018-06-19 19:22] brianhelba commented on #2741
As part of this issue, I think [`logprint`](https://github.com/girder/girder/blob/master/girder/__init__.py#L236) should be removed entirely as well. Colored logging is not worth the additional non-standard complexity, and all messages should be going to the central logger anyway; any output to stdout should come exclusively via a handler attached to the central logger.

[2018-06-19 19:28] brianhelba commented on #2741
Hopefully, when these changes are complete, we can also have a guarantee that Girder (ignoring subprocesses) will not emit anything to `stdout` or `stderr` when run normally (since it's often hard to access and confusing / duplicative to see daemons write to these file descriptors). Of course, as a convenience, I could foresee a feature where the CLI would attach a handler to `stdout` / `stderr` w

[2018-06-19 19:30] manthey commented on #2741
@brianhelba Removing `logprint` is a separable problem and should be a different issue. I understand the desire to make everything perfect all at once, but I'd recommend that PRs be allowed to be small and self-contained.  If we insist that an issue must change many things, then it makes it less likely someone will choose to work on, as it is harder to write.  Similarly, it harder to review, and r

[2018-06-20 15:57] waxlamp commented on #2385
We could instead detect that a given JSON file is in fact a Vega spec,
which can be done by examining the `$schema` top-level field. The magic
field could instead be used to disable visualizing a particular Vega spec.

On Fri, Jun 15, 2018 at 3:46 PM Jean-Christophe Fillion-Robin <
notifications@github.com> wrote:

[2018-06-20 17:24] #2726 closed

[2018-06-20 18:33] rwtam121 opened #2744 "Correct syntax for GeoJSON for the Geospatial Plugin"
I recently installed the Geospatial plugin for Girder and was excited to plot GeoJSON coordinates onto an image. I went to the REST API and went to PUT /item/{id}/geospatial under the item header.
![image](https://user-images.githubusercontent.com/29108723/41677322-cd811aa2-747c-11e8-99d2-410909296bcb.png)

However, when I put GeoJSON coordinates that were known to work in geojson.io into the text

[2018-06-20 19:39] zachmullen commented on #2744
@rwtam121 thanks for reporting this, looks like a bug in the plugin. To figure out where it's coming from, we'll need the full stack trace, below what you posted in your screenshot. Could you please provide that?

[2018-06-20 19:53] rwtam121 commented on #2744
Definitely, here it is:

`{
  "message": "TypeError: TypeError('string indices must be integers',)",
  "trace": [
    [
      "/opt/histomicstk/girder/girder/api/rest.py",
      593,
      "endpointDecorator",
      "val = fun(self, args, kwargs)"
    ],
    [
      "/opt/histomicstk/girder/girder/api/rest.py",
      1180,
      "PUT",
      "return self.handleRoute('PUT', path, params)"
    ],

[2018-06-20 20:50] zachmullen commented on #2744
I reproduced this issue and looked at the code. It appears the `PUT /item/{id}/geospatial` method doesn't support the whole GeoJSON spec, but rather just the individual features themselves. So, for your case, the value that worked was:

[code]

I'm admittedly not an expert in the intention of the geospatial plugin or on GeoJSON itself; I know that @dorukozturk is in the process of writing the next

[2018-06-20 21:17] jbeezley commented on #2744
The mongo documentation is not very clear on this, but it only supports spatial queries with geojson *geometries*.  This is likely the reason for the limitation here.  That said, our docs and error messages could definitely be better.

[2018-06-20 21:34] rwtam121 commented on #2744
Thanks for the help! I guess my next question is, now that we have posted the geospatial fields on the item, whether we can view those coordinates on the item. I see that we can view the geospatial fields on the item page:
![image](https://user-images.githubusercontent.com/29108723/41685733-5507875e-7496-11e8-8c03-3fc2d26625f9.png)
But I was kind of hoping that the coordinates could be toggled on

[2018-06-21 17:11] brianhelba opened #2747 "No way to create API keys on behalf of other users"
While it's possible for site admins to list the API keys of another user, it's not possible to create API keys for another user. The web GUI provides a screen for site admins to ostensibly create API keys for other users, but when the API key is actually created, it's owned by the creating user.

[2018-06-22 19:19] zachmullen opened #2749 "POST /api_key/token sends a Set-Cookie with the token"
@girder/developers @Purg this isn't necessarily a bug, but I wanted to open this up for discussion. Paul ran into some confusing behavior when he accidentally logged in as someone else using a found API key via the swagger UI, which happened because we set the cookie in the response headers from the token creation endpoint in the same way that we would during a normal login.

This feature was adde

[2018-06-26 20:42] manthey opened #2750 "Changing permissions on a folder with a duplicate name"
Although we try to avoid duplicate item and folder names, we don't strictly do so (see issue #1997).  If you do have duplicate names on a folder, changing the permissions on such a folder fails because the validation step rejects it due to the duplicate name.

One fix would be to skip checking for duplicate names if an existing folder or item is saved without changing its name.

[2018-06-27 13:49] brianhelba commented on #2749
I'd call it a feature. A number of CLI / script interfaces have the capability to persist cookie data, and the cookie may be the best place to store the token value in some cases.

From a purity standpoint, I think we should strive to treat all tokens the same way, regardless of how they were issued. In this case, it seems consistent that getting a token (whether via password login or API key pres

[2018-06-27 13:51] zachmullen commented on #2749
I'm also leaning toward feature. I'll close this, if there's someone who dissents, feel free to reopen.

[2018-06-27 13:51] #2749 closed

[2018-06-27 15:15] mgrauer opened #2752 "Add link header"
Follow up to #2105.

[2018-06-27 15:40] mgrauer opened #2753 "Support dynamic content sizes for multi-part upload"
See #2488 for a proof of concept with FS assetstore.

[2018-06-27 18:39] #2750 closed

[2018-07-03 23:45] phcerdan commented on #1467
+1 on the accumulate mode.

[2018-07-05 04:04] brianhelba commented on #1467
It might make more sense to always accumulate and add the ability to easily remove currently selected files.

This approach adds a bonus feature that can be useful on it's own and optimizes around the hopefully-more-common case where the user didn't make a mistake.

[2018-07-05 10:45] zachmullen commented on #1467
We will have this capability with the Vue client.

[2018-07-06 20:01] manthey commented on #2687
Resolved by #2691.

[2018-07-06 20:01] #2687 closed

[2018-07-06 20:03] manthey commented on #2093
I haven't seen these tests flake out in quite a while, so I'm closing this issue.

[2018-07-06 20:03] #2093 closed

[2018-07-06 21:09] Xarthisius opened #2758 "Folder.copyFolder allows `parentType` and actual type of `parent` to differ"
I was using a code that was copying folders from `User` collection to another folder residing in a regular `Collection`. Initially I used `girder.models.folder.Folder.copyFolder` providing just a `parent` kwarg, without `parentType`. This resulted in inconsistencies in database and subsequent operations on copied folder failed (e.g. GET /resource/{id}/path).

I'd suggest that `copyFolder` (and `cr

[2018-07-09 12:31] #2664 closed

[2018-07-16 04:44] quickerlab opened #2763 "When will oauth-provider available?"
I'm waiting for the oauth-provider plugin.

https://github.com/girder/girder/pull/2681

This will be a great work.

Want to know when will the plugin available on main branch? Or it already works fine if I install it myself?
Thanks.

[2018-07-16 12:17] zachmullen commented on #2763
Hi @quickerlab

Thanks for the request. Currently, that branch needs tests to be written, and a GUI for creation of clients. I don't have any direct funding at the moment to implement that, though I can ask around internally and see if any exists to finalize the feature.

If you would like it to be done faster, PRs are always welcome if you wish to contribute some code to help get it merged.

That

[2018-07-17 14:25] zachmullen opened #2764 "File cache features"
Some nice to have features related to the python client file cache functionality:

* Record statistics in the database, even just simple hit rate would be great to know.
* CLI for cache management. I'd like to be able to do e.g. `girder-worker cache clear <path>` to reset the cache, even nicer would be `girder-client cache clear --older-than=<n days> <path>`; with a cron job, this could be used to

[2018-07-25 20:35] jcfr opened #2770 "Plugable intrastructure for Girder client"
girder-client provides both the `GirderClient` and the command-line

Ideally girder plugin should be able to extend the base client with new capabilities that would be available through both the `GirderClient` and the CLI.

For example , after  installing girder-worker, running `girder-cli --help` could list additional option specific to girder-worker.

[2018-08-07 16:44] msmolens opened #2772 "Support Deflate compression when streaming ZIP files"
When downloading a folder, or other resources, it would be nice to support using Deflate compression in the generated ZIP file. Currently the ZIP files always use Store compression.

This could reduce bandwidth costs when downloading from S3 assetstores. In one project, for example, we downloaded a folder that is ~5GB uncompressed, but ~500MB compressed.

[2018-08-07 20:54] zachmullen commented on #2772
FWIW, the reason we didn't do this originally was because Deflate is computationally expensive relative to just piping the file into the archive, and because we can do gzip compression of all requests easily at the reverse proxy layer.

[2018-08-08 18:00] brianhelba opened #2773 "Upload.uploadFromFile returns incorrectly when passed an empty file"
When passed an empty (`size==0`), [`Upload.uploadFromFile`](https://github.com/girder/girder/blob/master/girder/models/upload.py#L55) does not create a `File`, and instead returns an `Upload` object.

The correct behavior is for a `File` object (with an empty file) to be created and returned.

This bug is due to the fact that [`Upload.handleChunk`](https://github.com/girder/girder/blob/master/gird

[2018-08-08 18:03] brianhelba commented on #2773
In my opinion, the design of `Upload.handleChunk`, whereby it sometimes returns a `File` and sometimes returns an `Upload`, is the real bug. This sort of variable return typing is dangerous (especially since both types are just a simple Python `dict`) and makes callers more prone to experiencing bugs (as in this case).

[2018-08-15 19:41] manthey commented on #1246
This was resolved some time ago (and vega has been updated since).  Closing.

[2018-08-15 19:41] #1246 closed

[2018-08-15 19:43] manthey commented on #342
If girder mount is used, this now works on any assetstore type.

[2018-08-15 19:43] #342 closed

[2018-08-16 12:47] manthey commented on #1649
This was fixed some time ago.

[2018-08-16 12:47] #1649 closed

[2018-08-16 23:58] HDVUCAIR commented on #2520
Has this fix made it into the docker hub image girder/girder:latest (as of 16 Aug)?

I'm seeing errors when invoking the plugin recompile/restart from the web browser admin panel after modifying plugin settings:

  File "/girder/girder/utility/install.py", line 172, in runWebBuild
    quiet = '--no-progress=false' if sys.stdout.isatty() else '--no-progress=true'
AttributeError: 'UnicodeStdout' obj

[2018-08-21 18:56] jcfr opened #2780 "Allow "data owner" to update timestamp of their data"
Short version:

`PUT /resource/:id/timestamp` is not available for data owner. Enabling this would enable "power user" to more effectively migrate and manage their data.

Long version:

This issue was created while trying to use the [scripts/midas/migrate.py](https://github.com/girder/girder/blob/336d03c9ac9f83365e9e937a9e27cb1709186135/scripts/midas/migrate.py) without being an administrator of t

[2018-08-21 20:06] zachmullen opened #2781 "S3 assetstore support for encryption at rest"
https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html

This would simply be a new option on S3 assetstores that would add the `x-amz-server-side-encryption` header on the appropriate requests if it was enabled.

[2018-09-08 14:28] qwilka opened #2791 "TableView plugin error square brackets in header line"
With reference to this comment: https://github.com/girder/girder/issues/2727#issuecomment-393896580
The first csv file I tried to preview with TableView gave this error in the browser console:
`TypeError: "x['width [mm'] is undefined"`

[test.csv.txt](https://github.com/girder/girder/files/2363369/test.csv.txt)

The csv file previews OK if I remove the square brackets from the header line.

[2018-09-10 19:09] jeffbaumes commented on #2791
Did you figure out your new error? Feel free to open up a new issue if you are still experiencing problems.

[2018-09-10 21:59] qwilka opened #2792 "TableView plugin unable to render csv file"
With reference to issue #2791
I am unable to render this (or any other) csv file with the TableView plugin previewer:

100,200

All I see is a spinner and the message "Loading..."

The problem appears to be occurring on this line https://github.com/girder/girder/blob/9b8bfd54aeba75fe1fe6a15a8762d7e226fe1c73/plugins/table_view/web_client/views/TableWidget.js#L68
I have added some print-outs to load

[2018-09-11 12:06] #1603 closed

[2018-09-12 14:05] mgrauer commented on #2068
Mooted by dint of Backbone client jettison.

[2018-09-12 14:05] #2068 closed

[2018-09-12 14:06] mgrauer commented on #2239
We will pursue this policy in Girder Web Components.

[2018-09-12 14:06] #2239 closed

[2018-09-12 14:07] mgrauer commented on #2250
Vue-Moot.

[2018-09-12 14:07] #2250 closed

[2018-09-12 14:07] zachmullen commented on #2390
Vue-Moot

[2018-09-12 14:07] #2390 closed

[2018-09-12 14:14] zachmullen commented on #2351
This is not a comprehensive list, just some thoughts:

Pros:

* We don't have to worry about supporting all the forms of names across cultures
* Simpler registration form

Cons:

* Can no longer sort by last name
* Cannot separate first and last names, so we couldn't e.g. address a user by just their first name

[2018-09-12 14:15] mgrauer commented on #2377
@zachmullen Can you provide a code example of what the current behavior is and the desired?

[2018-09-12 14:19] mgrauer commented on #2385
Also in the discussion: be more explicit about what plugins we want to include and why, any categories (experimental, blessed), what decision framework to use to decide this (funding, interest, sprawl of features). Possibly add these flags to the python package metadata.

[2018-09-12 14:31] mgrauer commented on #2387
Next Steps: Split this into two or more issues, one to move public symbols to private in order to reduce the public API surface, and have that surface become well defined including specifying behavior (maybe be a third issue), another issue to add support to CI to flag new public symbols (with whitelist of public symbols that allows CI to pass)--or accomplish this same end in a different way.

[2018-09-12 14:32] mgrauer commented on #2388
Could be accomplished without a breaking change, see e.g. `girder mount`.

[2018-09-12 14:38] mgrauer commented on #2389
Next Steps: transform this into more concrete issues or else have a Girder planning discussion if anyone cares enough.

[2018-09-12 14:39] mgrauer commented on #2391
Vue-Mooted.

[2018-09-12 14:39] #2391 closed

[2018-09-12 14:48] mgrauer commented on #2403
We could achieve this by adding an additional lighter weight Docker container based on e.g. Alpine, or using a multi-stage build (though that wouldn't work for downstreams building Girder plugins). Other related issues are that all plugins are built by default and some have huge dependency trees.

[2018-09-12 14:51] zachmullen commented on #2503
Not a breaking change but we want it to be available for 3.0.

[2018-09-12 14:55] mgrauer commented on #2648
Vue-Mooted.

[2018-09-12 14:55] #2648 closed

[2018-09-12 15:03] zachmullen commented on #2401
Removing from milestone because PR #2552 is the solution to this and is part of the milestone. If that assumption is wrong, please reopen.

[2018-09-12 15:15] zachmullen opened #2794 "Coverage is broken"
Not sure if this is a codecov issue or a local issue, but it seems likely that it's local.

[2018-09-12 16:37] manthey commented on #2794
I see that the coverage file sent to codecov on on a successful coverage branch from late August was [600kb](https://circleci.com/gh/girder/girder/12853), whereas a recent submission from the same step was only [450kb](https://circleci.com/gh/girder/girder/13190).

[2018-09-12 17:45] manthey commented on #2794
In the circleci environment, the last working coverage used pytest 3.7.3 and pytest-cov 2.5.1.  The broken coverage has pytest 3.8.0 and pytest-cov 2.6.0.  A crude test of pinning pytest <3.8 and pytest-cov <2.6 makes coverage work again.

[2018-09-12 17:46] zachmullen commented on #2794
Good to know, at least we can pin those temporarily until we can sort out what's really wrong.

[2018-09-12 17:46] manthey commented on #2794
I see that working versions store coverage in a file called something like `girder/build/test/coverage/python_temp/.coverage.692a993cea2b.3978.292632`, whereas the newer version store coverage in `girder/build/test/coverage/python_temp/.coverage`.

[2018-09-12 17:47] manthey commented on #2794
I'll check if we have to pin pytest (I assume we have to pin pytest-cov).  Pinning both definitely works.

[2018-09-12 20:02] manthey commented on #2792
On my version of Girder master, I don't see this problem.  Are you using the master branch or a previous version?

[2018-09-13 08:06] qwilka commented on #2792
I'm using the 2.5.0 released version of Girder
https://github.com/girder/girder/tree/v2.5.0
TableView in this version uses datalib, and works most of the time for me, except for this issue #2791

TableView plugin is taken from the current repository version master branch ("Switch from datalib to vega-loader")
https://github.com/girder/girder/tree/master/plugins/table_view
https://github.com/girder

[2018-09-13 14:19] qwilka commented on #2792
I have just updated the Jobs, Vega and a bunch of other plugins, and re-built Girder. That seems to have resolved the CSV load and preview issue I was experiencing, thanks @manthey, I guess I can proceed to close this issue out.
It does however point to a bigger issue about whether plugin builds should be independent of each other?
Also, there is still an issue in the current TableView code concer

[2018-09-13 14:32] #2792 closed

[2018-09-13 15:15] manthey opened #2799 "Remove install scripts"
Revert PR #2798 for Girder 3.

[2018-09-18 06:34] hmeine commented on #833
I have the exact same issue reported by @waromero on Gitter on 2017-12-06.

The problem is that upload (with `reuseExisting=True`, which we thought would just prevent new "(1)"-postfixed version items) uses `isFileCurrent()`, which just checks the (name and) *size*. For files not changing their size (such as uncompressed images or parameter files), there does not seem to be an easy way to upload t

[2018-09-18 14:28] zachmullen opened #2803 "Logout endpoint should work regardless of token scope"
@dorukozturk ran into this today

**Repro:**

1. Create an API key with limited scope, e.g. `['core.user_info.read']`.
2. Use the swagger API to obtain a token from the key.
3. Open up the Girder web client and browse around.

**Problem:** "You must be logged in" now shows up in various places because the swagger page set the cookie for the origin, and many out-of-scope REST calls will now fail. T

[2018-09-18 14:50] jbeezley commented on #2803
I think a more core issue here is that `POST /api_key/token` sets the authentication cookie in the response.  I would vote for removing [this line](https://github.com/girder/girder/blob/master/girder/api/v1/api_key.py#L131).

[2018-09-18 14:53] danlamanna commented on #2803
I think this is also what @Purg ran into a few months back. I can't
remember/find if an issue/email came from that.

On Tue, Sep 18, 2018 at 10:51 AM Jonathan Beezley <notifications@github.com>
wrote:

--
Dan LaManna
Kitware, Inc.

[2018-09-18 15:06] Purg commented on #2803
This is exactly the situation I had before but I too cannot seem to find that conversation.  I don't remember the exact situation but it was along the lines of calling the web API via swagger using an API key owned by someone else (probably read-only) such that a token was added to my browser session, causing me to be "logged in" as a user other than myself.

[2018-09-18 15:40] zachmullen commented on #2803
This has caused enough headaches that I agree @jbeezley . Clients using API keys generally don't use cookies, but I think someone had argued that we should allow that. I think to close this issue we should  both remove that line, and also make the logout endpoint be `@access.public` so that it works even in cases like this.

[2018-09-18 17:39] zachmullen opened #2805 "ExternalData files are not cached in CircleCI"
It looks like we're downloading them every time.

[2018-09-18 17:40] #2803 closed

[2018-09-18 17:42] zachmullen opened #2806 "Codecov status checks no longer being reported on PRs"

[2018-09-20 00:39] #2401 closed

[2018-09-27 16:01] csakis opened #2809 "elasticsearch indexing?"
I would like to index all my assetstores and collections using elasticsearch. Is there a plugin for that or a guide how to do that?

[2018-09-27 16:02] zachmullen commented on #2809
I don't know of any existing plugins that integrate with elasticsearch, a custom one would need to be written.

[2018-09-27 16:04] csakis commented on #2809
Thanks for the quick response, Zach

[2018-09-27 16:04] #2809 closed

[2018-09-28 16:34] csakis opened #2812 "Girder development install problem"
I am trying to develop some plugins and follow the instructions in the Manual:
[code]
I am getting an error with the mongodb install:
[code]
I tried it on a Mac and Windows. Same problem.
What am I doing wrong?

[2018-10-03 15:43] giesberge commented on #2812
It's not you, the Python that comes with Ubuntu Server 14.04 is way out of date.

I'm working on a pull request now that uses Ubuntu Server 16 since 14 is going to reach EOL in April.

[2018-10-03 19:13] jcfr opened #2819 "Associate metatdata with girder collection/folder/.. to facilitate search engine discovery"
To ensure datasets and collection hosted on Girder instance are discovered and indexed by search engine. It may be worth exploring some of the standard discussed at https://developers.google.com/search/docs/data-types/dataset

[2018-10-03 21:35] zachmullen commented on #2503
We have a user request for this feature from discourse: https://discourse.girder.org/t/is-there-a-cookiecutter-for-plugins-v3/179

[2018-10-09 13:34] jbeezley commented on #2503
See https://github.com/jbeezley/cookiecutter-girder-plugin (should be moved to `girder/cookiecutter-girder-plugin`) for basic implementation.  It can be tested with:
[code]

[2018-10-09 17:07] #2799 closed

[2018-10-09 17:16] luistelmocosta opened #2838 "Girder library is incompatible with nodejs"
Hello, I’ve been trying to run this framework but when importing to standard nodejs server, I keep getting “Unexpected identifier” errors. I tried to transpile the module but Babel-loader ignores the Girder folder.
Question 1: How are you running the client?
Question 2: Is there anyway to import Girder to nodejs using ES6?
Kind regards

[2018-10-09 17:53] zachmullen commented on #2838
Which library do you mean? The only Girder javascript libraries I know of are meant to be run in the web browser, they won't work in node. If you're looking for a programmatic client to run in node, I'm afraid I do not know of any, though it would be great if you want to write one!

[2018-10-09 17:53] #2838 closed

[2018-10-18 12:51] jeffbaumes commented on #2385
@danlamanna can we consider this closed?

[2018-10-18 12:58] jeffbaumes commented on #2377
@zachmullen looks like we just need to make a PR that removes fallback code. I'm assigning it to you for the 3.0 milestone.

[2018-10-18 12:59] jeffbaumes commented on #2389
@girder/developers Someone who cares please take up this issue for discussion here or at the Girder planning meeting, or it may need to be removed from the 3.0 milestone.

[2018-10-18 13:01] jeffbaumes commented on #2455
@brianhelba will you have time over the next week to look into this, at least to scope out the change and see if it's viable to do this for the 3.0 milestone?

[2018-10-18 13:03] jeffbaumes commented on #2436
@danlamanna I'm assigning this to you for now. Is this feasible for 3.0?

[2018-10-18 13:07] jeffbaumes commented on #2392
Up for discussion: Would anyone argue for keeping sendRestRequest in a deprecated state for a major release cycle? Or is our user base small enough to that the downsides of removing it are outweighed by the maintainability / code cleanliness of removing things outright in major releases as long as the fix is easily discoverable (e.g. in the 2->3 migration guide)? I'd argue slightly in favor of the

[2018-10-18 13:09] jeffbaumes commented on #2386
@mgrauer @danlamanna do we consider this resolved with pip installable plugins? If there is more to do, needs a concrete scope and champion or it may need to be removed from the 3.0 release milestone.

[2018-10-18 13:10] jbeezley commented on #2377
FWIW, it's already [removed for plugins](https://github.com/girder/girder/blob/master/girder/utility/model_importer.py#L90).

[2018-10-18 13:13] jeffbaumes commented on #2400
@cjh1 if this issue is for the further breaking change described in #2395, it appears you are the champion for it. If you are still interested in pursuing this for 3.0, please provide details for a plan for getting this done over the coming weeks.

[2018-10-18 13:18] jeffbaumes commented on #2290
@danlamanna does this seem feasible for 3.0? I've assigned it to you.

[2018-10-18 13:20] jeffbaumes commented on #2387
@kotfic is this ok to close now that #2814 is merged?

[2018-10-18 13:36] jeffbaumes commented on #2613
This was fixed by #2817.

[2018-10-18 13:36] #2613 closed

[2018-10-18 14:47] #2503 closed

[2018-10-18 14:51] zachmullen commented on #2389
I'm happy to do the work for this, and I think it's important to get into Girder 3.

[2018-10-18 16:07] danlamanna commented on #2436
Yes!

On Thu, Oct 18, 2018, 9:03 AM Jeff Baumes <notifications@github.com> wrote:

[2018-10-18 17:40] jeffbaumes commented on #2389
Thanks @zachmullen

[2018-10-22 15:28] #2387 closed

[2018-10-22 22:35] danlamanna commented on #2387
There's still a component to this that needs to be done before Girder 3
which is to evaluate the current public API surface and determine what
needs to be made private.

On Mon, Oct 22, 2018, 11:28 AM Christopher Kotfila <notifications@github.com>
wrote:

[2018-10-26 15:06] zachmullen opened #2851 "Remove ModelImporter as base class to Model and Resource"
I've added this to the release milestone as it is a follow up to #2377 and #2845

We could expand this to @jbeezley 's stronger suggestion of removing the ModelImporter class altogether, but at a minimum we should consider removing it as a mixin to other core classes.

[2018-10-29 22:01] #2377 closed

[2018-11-12 20:49] manthey opened #2860 "Job timing history scale is wrong"
When looking at a history of jobs, some of them are truncated vertically on the timing history chart.

For instance, in the image below, there are some jobs that were queued for 30 seconds, fetched input for 10 s, processed for 36 s, and pushed output for 4 s.  I would expect the part above 0 on the graph to have a scale at least up to 50 s (the time exclusive of the queue time), but the upper sca

[2018-11-16 15:09] subdavis opened #2862 "Custom plugin webroot breaks password reset URL"
When a password reset is initiated and the girder client is served from `/girder` instead of `/`, the URL to reset your password that comes in the Temporary Access email doesn't adjust.

You can test this on https://algorithms.kitware.com, where the demo_site plugin serves the default web app.

My link:

https://algorithms.kitware.com#useraccount/5beb2668de5db241488ed5aa/token/<token>

Should have

[2018-11-16 20:17] danlamanna opened #2863 "Add "send test email" button to server settings"

[2018-11-21 18:59] eswears commented on #2465
I would say having a link for customers to download data without an having an account is a required feature for us. We won't be able to fully transition from our current file management tool to this until this feature is added. Many of our customers can't create accounts and can't have access to google drives/docs for security reasons.

[2018-11-26 16:01] waxlamp commented on #1095
Just ran into this myself.

[2018-11-26 18:10] manthey opened #2864 "DICOM images out of order"
DICOM image slices within an item are presented out of order.  The item's dicom metadata correctly lists the files in order, but the Backbone files collections sorts them alphabetically by name, which is incorrect.  Instead of slices 1, 2, 3, ..., 9, 10, 11, ..., you get 1, 10, 11, ..., 19, 2, 20, ...

[2018-11-26 21:05] mgrauer commented on #2652
Related issues when dealing with anonymous uploads:

When creating anonymous uploads the client should display how much space users have in the upload target location.

Also, improve the error handling for people doing the anonymous upload when they go over the quota of their target upload location--currently the upload fails mysteriously.

[2018-11-27 13:03] manthey commented on #2864
Fixed by #2865.

[2018-11-27 13:03] #2864 closed

[2018-11-28 13:58] jeffbaumes commented on #2851
@zachmullen, @jbeezley would someone be willing to assign this to themselves?

[2018-11-28 13:59] jeffbaumes commented on #2385
I'll reverse the question: @girder/developers does anyone else have an outstanding plugin that should be slated for removal? Otherwise I'll close.

[2018-11-28 14:05] jeffbaumes commented on #2455
@brianhelba any status update here?

[2018-11-28 14:19] jeffbaumes commented on #2351
@girder/developers Last call: it is looking like this will be removed from the 3.0 milestone.

[2018-11-28 14:35] danlamanna commented on #2385
I think this can be closed, I can't remember why past me reopened it.

As a result of our initial discussion, it seems there should be a follow up about potentially promoting certain plugins to being built in to Girder.

[2018-11-28 14:38] cjh1 commented on #2400
@jeffbaumes Sorry I missed that comment, I will take a look.

[2018-11-28 15:19] cjh1 commented on #2400
@jeffbaumes After looking at this again, I think we can closed this off with no change. #2395 has given me what I need and the depreciation of ```resourceName``` is probably not worth the effort.

[2018-11-28 15:44] jeffbaumes commented on #2400
Thanks for looking at this @cjh1. Closing now.

[2018-11-28 15:44] #2400 closed

[2018-11-28 22:51] #2851 closed

[2018-11-29 20:12] jeffbaumes opened #2873 "Update large_image to 3.0 master"

[2018-11-29 20:18] #2385 closed

[2018-11-29 20:36] zachmullen commented on #2386
TODO: enumerate all the places we want to squash them out before we can consider this closed

[2018-11-29 22:13] mgrauer opened #2874 "Move user_quota plugin into core"
This combines two of Girder's core areas of user management and data management, so I think it should be core functionality.

It augments deep core functionality, and that is useful to have an example plugin for, but also can make it less obvious in core what this is doing.

In addition, it is hard to predict the effects of this on other plugins, as plugins may not look in other plugins to see how

[2018-11-29 22:21] mgrauer opened #2875 "Move autojoin plugin into core"
I think this is key functionality as it relates users to groups.

The important piece of functionality is that it allows any user, when signing up to a Girder instance, to automatically join a certain group. This is needed for being able to e.g., always put people from a certain domain into a group, and thereby grant them access to a given set of resources. It also allows--through the use of wildc

[2018-11-30 14:56] danlamanna commented on #2530
This has been removed from the 3.0 milestone but I was asked to reference my PoC branch with a little documentation.

The example branch for switching search mode registries to such a system is here: https://github.com/girder/girder/compare/app-lifecycle-management.

That branch uses Flask application contexts to allow multiple application objects to exist at the same time. Flask documentation des

[2018-11-30 18:58] #2781 closed

[2018-12-12 19:47] alesgenova opened #2883 "Model's _removeSupplementalFields removes fields that shouldn't be removed"
I found some unexpected behavior in one of our girder apps. (Girder 2.x, but the same is true on 3.x)

When providing to a model's `load()` method a `fields` argument of the following form, the fields are not properly included in the returned document.
[code]

While nested keys such as `'foo.bar.baz'` work just fine with mongodb projections, it seems like the model `_removeSupplementalFields` meth

[2018-12-12 19:50] zachmullen commented on #2883
This is true, right now this only works on top-level fields. It would be a nice feature if it could support subfields, though; I would approve such a pull request.

[2018-12-17 15:43] kotfic commented on #2386
With the following script `parse.py`
[code]
I have run this command in the `girder/girder` directory:
[code]

To generate this list of top level side effects.  Some of these are harmless:

|file name|lineno|type|code|
|---|---|---|---|
./events.py|337|Assign|daemon = ForegroundEventsDaemon()
./utility/filesystem_assetstore_adapter.py|44|Assign|DEFAULT_PERMS = stat.S_IRUSR | stat.S_IWUSR
./external

[2018-12-17 15:47] danlamanna commented on #2386
The side effects in _cache.py are creating dumb objects that do all their real initialization (network/disk IO) at app start time, rather than import time - so I think they can stay.

wsgi.py is intentionally designed for the side effect of running a WSGI app, so it can also stay imo.

[2018-12-17 15:48] jbeezley commented on #2386
That doesn't catch side-effects resulting from decorators though.  For example, anything using `@validatar` is registering symbols on a module level global in `setting_utilities.py`.

[2019-01-07 15:32] manthey opened #2886 "Web client doesn't work for plugins"
PR #2882 broke the web client for many plugins.  When loading the web client, I get an error: `Uncaught ReferenceError: regeneratorRuntime is not defined` followed by other webpack errors.  Disabling the jobs webpack.helper.js script fixes this for other plugins.

[2019-01-08 16:56] #2886 closed

[2019-01-09 18:55] manthey opened #2889 "Bad plugins break Girder 3"
In Girder 3, we need to guard against bad plugins.  That is, suppose I have a plugin whose `__init__.py` script contains:

[code]

with an appropriate entrypoint in its setup.py.  When Girder calls `_getPluginRegistry`, the `entryPoint.load()` call throws an uncaught exception and Girder never starts.  These failures occur before the plugin can be added to the _pluginRegistry (since we never learn

[2019-01-09 20:03] jbeezley commented on #2889
This throws an exception like this:
[code]

It tells you where it is failing and why.  To me, that is the correct behavior.  If you have a broken plugin installed, girder shouldn't start.

[2019-01-09 21:08] manthey commented on #2889
What is our logic for starting with a broken plugin where the `load` method is missing but not when a python module is missing?

[2019-01-10 13:42] jbeezley commented on #2889
I would make a distinction between errors that can be occur in an endpoint and one that requires direct access to the server.  I would be okay with making the lack of a load method an error at server start; however, you can't detect all possible problems with loading a plugin unless you actually load it.

[2019-01-10 13:51] zachmullen commented on #2889
I could see the argument for wanting Girder to be able to start up even in this case, maybe via a flag or something. In many cases, particularly in dev environments where one might be switching between versions of core, it is very possible to have broken plugins installed but with no intent to ever load them, and having that make Girder unable to start would be an annoyance.

[2019-01-10 14:54] manthey commented on #2889
I'm happy to make a PR that catches this.  I'm equally happy to make a PR that just fixes the web client reporting existing errors.

I'd rather not make it conditional on a flag.

[2019-01-10 14:55] zachmullen commented on #2889
If nobody is pushing strongly for the ignore-error behavior, let's just do the web client fix. Thanks @manthey

[2019-01-10 15:19] manthey commented on #2889
Closed via #2890.

[2019-01-10 15:19] #2889 closed

[2019-01-17 05:23] brianhelba opened #2897 "Web client will not load in IE11"
When opened in IE11, the web client (built in production mode, I have not yet tested debug) fails to load entirely. This occurs on both Girder 2.5 and 3.0-alpha.

See examples:
* https://data.kitware.com/ for a 2.5.0 deployment
* https://submission.challenge.isic-archive.com/girder for a 3.0.0-alpha.1 deployment

While Girder doesn't make promises to fully support IE11, we still may have a signifi

[2019-01-24 14:58] subdavis opened #2905 "Support for multiple CORS domains."
The use case for this change is described in girder/girder_web_components#58

In summary, the fix from #639 only applies in cases where an exact origin matches for the `Access-Control-Allow-Origin` domain.

The following are not currently possible.

* multiple distinct domains should match, such as `https://example1.com https://example2.com`
* or all domains should be allowed CORS features, but on

[2019-01-24 15:07] zachmullen commented on #2905
Excellent write up, I am in favor of the 1st solution

[2019-01-24 15:14] jbeezley commented on #2905
Solution 1 sounds fine to me.

FWIW, by default [Flask-CORS](https://flask-cors.corydolphin.com/en/latest/api.html) replaces wildcards with the request's `Origin` header.  This would be an alternative, but less secure, solution.

[2019-01-24 15:45] zachmullen commented on #2905
Is anyone assigned to this? I can take this on if not

[2019-01-24 15:49] subdavis commented on #2905
@zachmullen I wouldn't mind giving this a try.  I probably won't be able to look at it until tomorrow or Monday.

I've been wanting to get more familiar with Girder, so this might be a good opportunity for that.  That said, I'm also not terribly attached to this particular issue.

[2019-01-24 15:52] zachmullen commented on #2905
It was very quick to create a candidate solution (ae4a27c). I'll add tests to verify correctness.

[2019-01-24 19:22] #2905 closed

[2019-02-07 15:47] manthey opened #2931 "Expose the Job cancel button for more jobs"
Currently, we only show a job cancel button if the job is handled by the remote worker or the celery worker.  However, one can write cancelable jobs that run locally.  For instance, a job that processes many resources can periodically check if it has been canceled and stop.  These jobs can be cancelled through the rest PUT job/{id}/cancel endpoint, but there is no way to signal the UI to show the

[2019-02-07 16:10] manthey commented on #2873
See https://github.com/girder/large_image/pull/329

[2019-02-07 16:11] zachmullen commented on #2873
Since the concept has been proven, are we ready to close this?

[2019-02-07 19:06] zachmullen commented on #2873
I'll go the other direction here. If this shouldn't be closed, please re-open.

[2019-02-07 19:06] #2873 closed

[2019-02-08 00:30] brianhelba opened #2933 "Install universal-ctags from a package"
#2932 uses [`universal-ctags`](https://ctags.io/) to parse public symbols. However, `universal-ctags` is not yet widely available as a `.deb` package for most distributions.

Following [some very recent upstream work](https://github.com/universal-ctags/ctags/issues/655), there is a `universal-ctags` package [in Debian Buster](https://packages.debian.org/buster/universal-ctags) and [in a PPA](https

[2019-02-08 19:19] #1933 closed

[2019-02-13 14:03] zachmullen opened #2936 "Remove access.cookie decorator"
Instead, make `cookie` a kwarg to the other access decorators.

[2019-02-21 02:08] brianhelba opened #2938 "Authorized upload does not prevent multiple file selection"
When an invited user is performing an authorized upload, the UI allows the selection and initial submission of multiple files. However, the internal logic of the functionality allows only one file to be uploaded per invite. This causes errors to be displayed to the user and the rejection of the additional files, which is confusing to end users.

[2019-02-25 21:27] Francisobiagwu opened #2939 "Wrong Velodyne Pcap data"
Hello,
I am running some experiment on the sample Velodyne VLP-16 pcap data provided. So I found out that the data provided is for 32 lasers not for VLP-16 as described.  Please can you verify this problem and get back to me.

https://data.kitware.com/#collection/5b7f46f98d777f06857cb206/folder/5b7fff608d777f06857cb539

[2019-02-26 13:23] zachmullen commented on #2939
Hi @Francisobiagwu , please email the paraview mailing list, as they are the maintainers of this dataset. Thanks for letting us know.

[2019-02-26 13:23] #2939 closed

[2019-02-28 15:59] manthey opened #2941 "vega issues on 2.x-maintenance branch"
Vega did a minor release on Feb 26 which included an npm package of vega-util which has ES6 code in its package.  This causes the web client tests for any plugin that uses vega to fail (and causes some downstream plugins' tests to fail if they use one of those plugins).  This includes, for instance, the jobs plugin.

This could be solved for each plugin that uses vega by adding a webpack helper fi

[2019-02-28 16:01] zachmullen commented on #2941
@jeffbaumes @waxlamp how do you guys feel about vega in general? Should we consider alternatives?

[2019-02-28 16:02] manthey commented on #2941
I'll not that we use it for the jobs graph.

[2019-02-28 17:05] manthey commented on #2941
Resolved via #2942.

[2019-02-28 17:05] #2941 closed

[2019-03-04 19:15] manthey opened #2945 "Issue with POST item/{id}/copy"
`POST item/{id}/copy` doesn't work as expected when a `folderId` is specified via swagger.  Specifically, the `folderId` parameter is listed as a path parameter, but the route only takes an item `{id}` parameter.  Either the `folderId` should be specified as a `paramType` other than path (probably `query`), or another route should be created as `item/{id}/copy/{folderId}`.

[2019-03-04 20:44] #2945 closed

[2019-03-08 16:16] brianhelba opened #2952 ""girder build" is failing to set static root"
Following #2948, running `girder build` gives stdout looking like:
[code]
and Webpack actually emits files with internal URL references like `None/built/assets/open-sans-latin-300-521d17bc.woff`

This is on a deployment (with a running database, installed `girder`, etc.) where `girder build` was working properly prior to pulling in #2948.

[2019-03-08 16:18] brianhelba commented on #2952
As one possible resolution, there is the approach from #2893, which removes `staticRoot` entirely.

@girder/developers Is anyone aware of a case where anyone has ever changed this setting in a production environment?

[2019-03-08 16:25] zachmullen commented on #2952
This is a bug resulting from syntactic associativity. It should have read

[code]

[2019-03-08 16:43] #2952 closed

[2019-03-09 16:20] jbeezley commented on #2365
The pypi portion of this is done by #2956.

[2019-03-11 13:16] jbeezley opened #2959 "Docker build is broken due to setuptools-scm"
#2956 broke our automated docker builds.  Unfortunately, there aren't any clear solutions.  For some upstream discussion see https://github.com/pypa/setuptools_scm/issues/77.

I can think of three potential solutions:
1. Add the entire repo (with `.git`) inside the docker container rather than just selective paths.
2. Prebuild the sdist and copy that to the container.  Use a production install ins

[2019-03-11 13:20] zachmullen commented on #2959
Forgive my ignorance here, but does the .git need to be there at runtime, or just build time? If it's only at build time, we can just blow it away as the last step of the docker image build.

[2019-03-11 13:37] jbeezley commented on #2959
Just build (or rather `pip install`) time; however, there is a problem in that the base image does not currently install the included plugins.  This would lead to problems in downstream users that need to install one or more of these plugins, which I assume is most of them.
1. We could remove the core plugins entirely and tell downstreams to install them from pypi.
2. We could install all core plu

[2019-03-11 13:39] manthey commented on #2959
How bad is the git bloat if we do a single branch and a depth of 1?

[2019-03-11 13:40] jbeezley commented on #2959
Well, we need more than just depth 1.  It needs to resolve to the last tag.  Also, this means doing something extra before running `docker build`, which we can't on dockerhub.

[2019-03-11 14:57] zachmullen commented on #2959
@girder/core @girder/developers what do you think is more reasonable for the docker image? To have all 15 built-in plugins installed (but disabled) out of the box, or to have no plugins installed and require all built-in plugins to be installed downstream?

It would be informative to see how much bigger the docker image is with the plugins installed vs. not installed. I would guess that most of th

[2019-03-11 15:19] zachmullen commented on #2959
(If we cared to, we could rmrf all the `node_modules` as a final build step, since they're intermediate artifacts that aren't needed in the image.)

[2019-03-11 15:29] jcfr commented on #2959
If size is an issue, you could also have specialized images.

For example, see https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#image-relationships

[2019-03-11 16:03] danlamanna commented on #2959
Who is using the image in production, and are they running it directly or
inheriting from it in their own image definition?

On Mon, Mar 11, 2019, 11:29 AM Jean-Christophe Fillion-Robin <
notifications@github.com> wrote:

[2019-03-11 17:43] jbeezley commented on #2959
I'm thinking we just put the `.git` directory in the image and keep it there.  The last working docker image was 1.24GB, including the whole git repo without purging brings it up to 1.27GB--the difference is negligible.  This way, the plugins are there and can be installed by downstream users if they want.

[2019-03-11 17:47] jcfr commented on #2959
I suggest to install plugins using pip from wheels generated locally. Having `setuptools_scm` installed should not be needed.

[2019-03-11 18:37] jcfr commented on #2959
Instead of copying content of the source directory into the docker image (see [here](https://github.com/girder/girder/blob/28b72cd3c240891245b5b38246aa222bc0ca1996/Dockerfile.py3#L19-L27)), I suggest to:
* (1) build and publish the docker image directly from CircleCI:
  * the `latest` tag is updated each time master is updated
  * a tag corresponding to the release is pushed each time a release is

[2019-03-11 20:26] jbeezley commented on #2959
I changed the title of this issue so we can continue the discussion even though the original issue is fixed.

[2019-03-12 13:20] jbeezley commented on #2959
@jcfr (2) and (3) are already done as part of #2956.  (1) is essentially what I proposed as my second option.  This would work as an alternative to dockerhub's CI infrastructure, but my concerns are:
1. It changes the docker image we provide from an editable install to a production install.  This is probably a positive change, but it will almost certainly break downstream users, so we will need to

[2019-03-18 17:16] manthey opened #2962 "Importing leaf-folders-as-items into collections fails cryptically"
If you import from a filesystem assetstore into a collection and select "Leaf Folders as Items" and an item would be created at the root level, this is disallowed, since we don't allow items directly in collections.  Instead of emitting a sensible error message, we throw an exception when we try to refer to the folder of the item.

We should improve the error response so the user knows why the imp

[2019-03-26 16:45] based64god opened #2966 "Bug: girderToken cookie takes precedence over Girder-Token header when both are set"
Exactly what the title says. This is pretty easy to reproduce with a couple `curl`s.
Steps to reproduce:

1.  Retrieve your girder api key. Set `GIRDER_API_KEY` equal to it in your shell.
2. Find a file you want to download. Grab the download url. Set `DOWNLOAD_URL` equal to it.
3. Run the following script.
[code]
Which will use `GIRDER_TOKEN1`. This causes difficult to diagnose behavior if `GIRDE

[2019-03-26 17:03] zachmullen commented on #2966
Note: this only happens on endpoints decorated by `access.cookie`.

[2019-04-04 13:09] florianlink opened #2973 "user listing API endpoint does not require user login"
The current girder implementation has a public endpoint to list all users (and their login), see for example:

https://challenge.kitware.com/girder/api/v1/user

I think this is a big security problem, since it opens doors for password brute-forcing.
The user list should be only available to users which have a valid login.
Or it should at least be configurable in the settings if the user listing is

[2019-04-04 13:12] jbeezley commented on #2973
#2252 is related.  We ran into complications when attempting to make the users endpoint admin only.  It might be more tractable to require just a normal login for that endpoint.  There are still edge cases (like should the search box return users) that would require consideration.

[2019-04-04 13:32] zachmullen commented on #2973
I'd be OK with making this endpoint `@access.user` if that's a straightforward change. To be clear, I don't think doing so would mitigate password brute-forcing in any meaningful way, but I can definitely see the sensibility of not making it public by default.

[2019-04-04 14:15] jbeezley commented on #2973
Besides the endpoint decorator, we may need to tweak the web client handling for the `Users` section.  Unless there are other complications, I think this would be a worthwhile change to make before the v3 release.

[2019-04-04 19:14] mgrauer commented on #2436
We are closing this, the changes would be better suited to a complete restart of the Girder Python client/CLI.

[2019-04-04 19:14] #2436 closed

[2019-04-04 19:14] mgrauer commented on #2392
We are closing this, the changes would be better suited to a complete restart of the Girder Python client/CLI.

[2019-04-04 19:14] #2392 closed

[2019-04-04 19:14] mgrauer commented on #2290
We are closing this, the changes would be better suited to a complete restart of the Girder Python client/CLI.

[2019-04-04 19:14] #2290 closed

[2019-04-04 19:20] brianhelba opened #2974 "PACKAGE argument to add_standard_plugin_tests is undocumented"
https://github.com/girder/girder/commit/1439ea2a670f2cff699e13a264f39ee496e2e3ac

[2019-04-08 18:18] #2936 closed

[2019-04-08 18:18] #2966 closed

[2019-04-11 16:15] matthewma7 opened #2982 "Girder doesn't work behind a subpath reverse proxy"
The girder web client and the API page was using relative paths like these
[code]
It worked when being put under a subpath by a reverse proxy.
such as http://localhost/subpath/

However, the latest master, uses absolute path
[code]
It doesn't work behind reverse proxy. becuase the the resource doesn't exists at `http://localhost/static/built/girder_lib.min.js`
It actually exist at
`http://localhos

[2019-04-11 17:00] brianhelba commented on #2982
I understand the issue.

There are 2 path prefixes here, which I'll designate `staticRoot` and `publicPath`. `staticRoot` is where CherryPy serves static content. `publicPath` is where that static content can be fetched by end user agents. The problem is that the Girder setting `STATIC_ROOT` conflates these two different prefixes.

I'm going to boldly claim that nobody ever really wants to change

[2019-04-11 17:46] zachmullen commented on #2973
Fixes in #2978

[2019-04-11 17:46] #2973 closed

[2019-04-12 02:27] brianhelba commented on #2982
I'm working on a fix now.

[2019-04-12 15:25] #2974 closed

[2019-04-16 16:32] CharlesGueunet opened #2987 "Small feature request on girder client: retrieve the current user id"
There is no native function to retrieve the current user id using the girder-client.
Suggestions:
* The `authenticate` method could return the user id (instead of dropping it).
* A small utility could be created like `getCurrentUser()`, calling a `get` on `user/me`

For now, the solution is to build the request like this:

[code]

[2019-04-16 16:35] zachmullen commented on #2987
👍  for having `authenticate` return the user document
👎 for a new method

[2019-04-16 16:36] #1680 closed

[2019-04-16 16:37] danlamanna commented on #974
@jbeezley This can be closed now right? https://pypi.org/project/girder-client/#history

[2019-04-16 16:38] danlamanna commented on #736
Solved by pip installable plugins.

[2019-04-16 16:38] #736 closed

[2019-04-16 16:38] jbeezley commented on #974
Yes

[2019-04-16 16:38] #974 closed

[2019-04-16 16:39] danlamanna commented on #1005
I think this might be solved via https://github.com/girder/cookiecutter-girder-plugin.

[2019-04-16 16:39] #1005 closed

[2019-04-16 16:44] jcfr commented on #974
What is the process to release a pre-release ? It would be great to avoid "spamming" each time there is a merge to master.

Instead, I suggest to push the latest dev release as a GitHub release that could be install using:

[code]

[2019-04-16 16:50] danlamanna commented on #1185
This has been fixed for a while by using `six.assertRegex`.

[2019-04-16 16:50] #1185 closed

[2019-04-16 16:51] danlamanna commented on #1319
@jbeezley these issues should be fixed from pip-ip right?

[2019-04-16 16:55] #2143 closed

[2019-04-16 16:56] jbeezley commented on #1319
Yes, no longer relevant.

[2019-04-16 16:56] #1319 closed

[2019-04-16 16:56] danlamanna commented on #2413
This appears to have been done.

[2019-04-16 16:56] #2413 closed

[2019-04-16 16:57] danlamanna commented on #2287
pip-installable plugins removed these.

[2019-04-16 16:57] #2287 closed

[2019-04-16 17:02] jbeezley commented on #974
A PyPI prerelease is generated on merge to master (and anytime a semver tag is pushed).  You can install the latest with `pip install --pre girder-client`.

[2019-04-16 17:14] jcfr commented on #974
I guess that will work.

The "issue" is that pypi will be littered with a lot of .dev packages. Looking back at the PEP, pre-release are usually:

[code]

See https://www.python.org/dev/peps/pep-0440/#pre-releases

[2019-04-16 17:22] jbeezley commented on #974
Development releases are described in the same PEP.  To be more precise, we push development releases on every push to master.  Pre-releases and releases are created when pushing a tag.

[2019-04-16 17:31] jcfr commented on #974
My proposal would be to publish to pypi only pre-release like this one:

![image](https://user-images.githubusercontent.com/219043/56231046-7d268180-604b-11e9-80a2-a1ddf59fc759.png)

And only publish development packages on GitHub release:

![image](https://user-images.githubusercontent.com/219043/56231072-8e6f8e00-604b-11e9-83a6-b776ec44224c.png)

Doing so would avoid uploading pypi with a lot of

[2019-04-16 17:41] jcfr commented on #974
All of that said, this is a nitpick. It is great to see latest releases available :+1:

[2019-04-16 20:01] danlamanna commented on #2303
This is fixed in Girder 3.

[2019-04-16 20:01] #2303 closed

[2019-04-16 20:06] danlamanna commented on #2650
We're moving this type of functionality towards tox in the future, and that is already the case with documentation and publishing releases.

[2019-04-16 20:06] #2650 closed

[2019-04-16 20:09] danlamanna commented on #2713
This can already be set through the configuration file, it is unlikely we will ever expose such a setting in the UI since it invites an administrator to make their instance of Girder inaccessible.

[2019-04-16 20:09] #2713 closed

[2019-04-16 20:10] danlamanna commented on #2667
This should have been marked resolved via #2949.

[2019-04-16 20:10] #2667 closed

[2019-04-16 20:15] danlamanna commented on #1597
I believe https://github.com/girder/girder/pull/2552 renders this moot.

[2019-04-16 20:15] #1597 closed

[2019-04-16 20:16] danlamanna commented on #2603
Is this issue still relevant?

[2019-04-16 20:17] danlamanna commented on #2604
#2577 fixed this.

[2019-04-16 20:17] #2604 closed

[2019-04-16 20:17] zachmullen commented on #2603
Doubt it. Someone can reopen if it is.

[2019-04-16 20:17] #2603 closed

[2019-04-16 20:41] danlamanna commented on #2349
I think Girder can emit an event when shutting down if we want, but I don't think we should add more endpoints that control the state of the girder process. With the coming PR to remove server restart I think it makes sense to close this, but I'll leave it open in case anyone disagrees.

[2019-04-16 20:43] danlamanna commented on #2559
@jbeezley This doesn't happen on master, should we close? I don't see https://github.com/cherrypy/cherrypy/issues/1662 getting closed anytime soon.

[2019-04-16 20:44] danlamanna commented on #1641
This latter button has been gone in a while, and the former is likely to be removed as well.

[2019-04-16 20:44] #1641 closed

[2019-04-16 21:06] #2982 closed

[2019-04-16 21:15] danlamanna commented on #1684
I think this can be closed. For quite a while now `docker-compose up` has worked. `vagrant up` typically works, but is being updated right now with https://github.com/girder/girder/pull/2923.

[2019-04-16 21:15] #1684 closed

[2019-04-16 21:19] danlamanna commented on #1038
Is this still relevant?

[2019-04-16 21:23] danlamanna commented on #1768
pip installable plugins removes the notion of symlinked plugins.

[2019-04-16 21:23] #1768 closed

[2019-04-16 21:24] danlamanna commented on #1927
Done.

[2019-04-16 21:24] #1927 closed

[2019-04-16 21:25] danlamanna commented on #2020
@kotfic is this still relevant?

[2019-04-16 21:32] danlamanna commented on #2441
This plugin was removed from Girder.

[2019-04-16 21:32] #2441 closed

[2019-04-16 21:34] danlamanna commented on #2568
We're making use of PR templates for the merge window. I'm closing this, feel free to reopen if someone wants to make an issue template.

[2019-04-16 21:34] #2568 closed

[2019-04-16 21:34] danlamanna commented on #2590
@brianhelba Is this still relevant now?

[2019-04-16 22:20] zachmullen commented on #1038
No, insofar as the backbone client is no longer getting new features.

[2019-04-16 22:20] #1038 closed

[2019-04-17 12:21] jbeezley commented on #2559
We can reopen if it shows up again.

[2019-04-17 12:21] #2559 closed

[2019-04-17 13:38] zachmullen commented on #2897
Given that IE doesn't fall under "not dead", should we officially declare it unsupported by Girder?

[2019-04-17 13:42] manthey commented on #2897
I think we should see if the `uglifyOptions` just fixes this first.  If not, declare it unsupported.

[2019-04-17 14:31] danlamanna commented on #2897
We've had users of ISIC and Covalic complain about this, so it's likely @brianhelba or myself are going to try to look into a fix.

[2019-04-17 21:41] #1438 closed

[2019-04-18 16:06] brianhelba commented on #2590
This has been fixed.

[2019-04-18 16:06] #2590 closed

[2019-04-18 19:54] #2349 closed

[2019-04-18 19:55] zachmullen opened #2994 "Remove `default` arg for `Setting.get`"

[2019-04-18 19:55] zachmullen opened #2995 "Move static public path from db setting into config file"

[2019-04-22 21:11] brianhelba commented on #2472
Resolved: https://github.com/girder/ansible-role-girder-mongodb

[2019-04-22 21:11] #2472 closed

[2019-04-22 21:25] brianhelba commented on #2897
@zachmullen The [default browserlist config](https://browserl.ist/) (which Girder uses), [and the explcit one posted by @jbeezley](https://browserl.ist/?q=%3E+0.5%25%2C+last+2+versions%2C+Firefox+ESR%2C+not+dead) does include IE11. Further, in other work where I've used VueCLI as a build driver, the code was transpiled to support IE11 by default. For better or worse, IE doesn't not fall under "not

[2019-04-22 21:37] brianhelba opened #2996 "MongoDB sharding tests do not work with newer versions of MongoDB"
As shown by [this build result](https://circleci.com/gh/girder/girder/19335), upgrading MongoDB to version 3.6 causes the `server_upload.testGridFSShardingAssetstoreUpload` and `web_client_data_gridfsshard` tests to fail.

[Reverting to MongoDB 3.2](https://github.com/girder/girder/pull/2836/commits/c13770944c007737830311bd8e0683a8b03ec20f) allows the tests to pass.

It's likely that some of the M

[2019-04-22 21:38] brianhelba opened #2997 "Molecule tests of Ansible library need to be run in CI"
Converting these to use Docker instead of Vagrant may make this easier.

[2019-04-22 21:40] brianhelba commented on #2997
I recently did similar work for https://github.com/girder/ansible-role-girder-mongodb . I'll take this on.

[2019-04-23 15:11] #2196 closed

[2019-04-23 15:11] danlamanna commented on #2025
This is no longer relevant in the new role, downstream should use the `pip` module to install plugins.

[2019-04-23 15:11] #2025 closed

[2019-04-23 15:12] danlamanna commented on #2551
This is no longer relevant due to #2983.

[2019-04-23 15:12] #2551 closed

[2019-04-23 15:13] danlamanna commented on #2405
This has been implemented.

[2019-04-23 15:13] #2405 closed

[2019-04-23 15:55] manthey commented on #2996
This may be a mongo installation issue -- locally with Mongo 4.0.9 these tests pass.  Circle is timing out from allowing ssh login right now.  @brianhelba Did the tests pass locally for  you?

[2019-04-23 19:13] zachmullen opened #2998 "Remove deprecated multipart upload support"

[2019-04-25 13:11] brianhelba opened #3006 "Move setting enum definitions, defaults, and validators to the same place"
Part of this will involve ordering the existing definitions, and fixing a few contradictions and omissions that have crept into the settings over time. This is related to #2994

An open question is where should the new setting data reside:
* within `girder/models/setting.py`
  * this makes the API for using settings and the definitions all in the same place, making it easier to import and inspect

[2019-04-25 13:17] danlamanna commented on #3006
I'd vote for girder/settings.py.

On Thu, Apr 25, 2019, 9:12 AM Brian Helba <notifications@github.com> wrote:

[2019-04-25 13:22] manthey commented on #3006
We've had requests for access-controlled settings (#1292).  If we think we are going to do that, then having settings be in models would make more sense.

[2019-04-25 13:58] #2996 closed

[2019-04-25 14:47] matthewma7 opened #3008 "Expose user details endpoint to log in users"
At this moment, [the `user/details` endpoint is limited to only admin users.](https://github.com/girder/girder/blob/master/girder/api/v1/user.py#L212)
But I don't see why since anonymous users were able to list all user.
(only logged-in user can list users now. https://github.com/girder/girder/pull/2978)

Expected result: Open the user details user open to any logged-in user.

PS: This girder/gird

[2019-04-25 14:51] brianhelba commented on #3008
The reason is that since `User` is an `AccessControlledModel`, it's non-trivial to count the total number of apparent users that a given non-admin requester is able to see.

However, since `user/details` was first added, we now have `findWithPermissions`. If you can use `User.findWithPermissions` to generate the counts, you should be able to allow non-admins to call the endpoint.

[2019-04-25 14:53] brianhelba commented on #3008
To clarify, typically, all users are `public=True` and therefore are all visible. However, plugins make it possible to have a `public=False` private user, so the `user/details` endpoint shouldn't dig us further into the assumption that all users are always public.

[2019-04-25 14:53] matthewma7 opened #3009 "Add a collection details endpoint"
We have `folder/{id}/details`, `collection/{id}/details`, `user/{id}/details`, `user/details`, the only thing missing is `collection/details`, which would return the total number of collections.
It would be very similar to https://github.com/girder/girder/blob/master/girder/api/v1/user.py#L217-L219

PS: This girder/girder_web_components#119 would use this.

[2019-04-25 15:05] matthewma7 commented on #3008
Thank you @brianhelba for explaining the background.
Ok, cool, I'll update the existing code to do so.

[2019-04-25 17:27] curtislisle opened #3011 "vagrant provisioning for ldap plugin"
current master branch vagrant up provisioning completes only if the following additional python prerequisite lines are added to the vagrant-playbook.yml

          - libldap2-dev
          - libsasl2-dev

[2019-04-25 18:15] brianhelba commented on #3011
In light of the improvements from #2836 , I think I can finish #2923 as a more comprehensive fix of the Vagrant environment.

[2019-04-25 21:36] #3008 closed

[2019-04-26 16:25] #3009 closed

[2019-04-27 19:33] #2995 closed

[2019-04-27 19:34] #2812 closed

[2019-04-27 19:34] #3011 closed

[2019-04-29 15:38] henryrossiter opened #3016 "Specific Login Fail Responses"
When a client-side login fails, 401 is received. However, no indication of the reason for failure is given. There should be specific responses for:
- email is not verified
- account has not passed admin approval
- incorrect password

This would allow applications' authentication systems to provide users with a reason why their login failed.

[2019-04-29 15:43] zachmullen commented on #3016
I'm fine with giving more detailed error messages if the username and password are correct. I'd prefer to keep the same vague message (Login failed) for both the invalid username and incorrect password cases. Related, we may want to consider mitigating side-channel information spillage about whether the username was invalid vs. the password was invalid.

[2019-04-29 15:49] henryrossiter commented on #3016
@zachmullen I agree. The cases that affect our application the most are those when a user with an unverified email or un-approved account attempts to sign in with valid credentials. I would like to be able to display a verification message such as 'Please verify your email' or 'Your account is currently pending admin approval'.

[2019-04-29 20:11] #2316 closed

[2019-04-29 22:31] brianhelba opened #3017 "Encode email addresses before injecting them in rendering"
Email addresses often need to be transformed or encoded before being used or rendered on a webpage. Because this transformation is typically not idempotent, it should be done just-in-time before rendering, rather than in the setting validator. Accordingly:
* Anything in a `mailto: ` link should be encoded per [RFC6068](https://tools.ietf.org/html/rfc6068)
* Other HTML-embedded links probably need

[2019-04-29 22:32] brianhelba commented on #3017
This was originally reported in #2282, but is separated here as a separate task.

[2019-04-29 23:47] #2282 closed

[2019-04-30 00:40] brianhelba commented on #3006
I'm going to go with `girder/settings.py`, primarily because that file will only service core settings. Plugin settings will continue to be defined in their own files. `girder/models/settings.py` will contain the general database logic to manipulate settings from both core and plugins.

[2019-04-30 01:52] brianhelba commented on #2773
@girder/developers Is anyone able to fix this before the 3.0 release?

[2019-04-30 02:12] jcfr opened #3021 "doc: Add license section to readthedocs"
While reviewing https://github.com/girder/girder/pull/3019, I realized that there was no section  in the documentation explaining what was the Girder license.

What about adding a "License" section to https://girder.readthedocs.io ?

And also indicate that while we would welcome contributions, we also understand that sometimes it is relevant to copy and re-use code. In that case, we recommend that

[2019-04-30 12:12] zachmullen commented on #3021
We have the license badge at the top of RTD, and the LICENSE file in the source for those looking to read the full text. Do you think we need more than that?

[2019-04-30 12:28] jcfr commented on #3021
Good point. I missed that and simply typed "License" in the search box available in the doc page. And  only got results showing up source code files (that either won't be there after this PR is merged or may only show license from third party)

[2019-04-30 12:30] zachmullen commented on #3021
Ok. Reopen if you think we need more.

[2019-04-30 12:30] #3021 closed

[2019-04-30 12:31] zachmullen commented on #2773
Seems like this should be a really quick fix. I can take a look.

[2019-04-30 16:04] manthey commented on #2897
I just tried this out with latest master.  I found two changes to `girder/web_client/grunt_tasks/build.js` were sufficient to build so we can load in IE11 without errors.  (1) Add `babel-polyfill` to the main app's entry (i.e., `girder_app: ['babel-polyfill', require.resolve('@girder/core/main.js')]`), and (2) the aforementioned `ecma: 5` uglify option.

In my test I only had a subset of plugins t

[2019-04-30 17:34] zachmullen commented on #3016
@henryrossiter not sure what version of Girder you're running or what client you're using, but these detailed messages already appear in the web API responses on latest master branch, see screenshot below.

![Screen Shot 2019-04-30 at 1 32 38 PM](https://user-images.githubusercontent.com/555959/56981269-753b0700-6b4c-11e9-90ef-5535e758c026.png)

I also verified that the "Account approval required"

[2019-04-30 17:34] #3016 closed

[2019-05-02 14:19] #2998 closed

[2019-05-02 18:05] #3006 closed

[2019-05-02 19:53] #2773 closed

[2019-05-03 15:33] #2987 closed

[2019-05-07 01:27] brianhelba opened #3030 "401 responses should send a WWW-Authenticate header"
RFC7235 4.1 states:

[2019-05-07 01:30] brianhelba commented on #3030
One question is which authentication scheme should be used. RFC7235, which defines the challenge-response authentication framework and the WWW-Authenticate header doesn't actually define any particular authentication schemes.

RFC7617 defines the "Basic" auth scheme, which should be returned for the login endpoint.

RFC6750 defines the "Bearer" auth scheme within the context of OAuth2, which Girde

[2019-05-07 01:31] brianhelba commented on #3030
Additionally, for endpoints supporting cookie authentication, that fact should ideally be disclosed via this header too. Note that [the "Cookie" auth scheme is defined in a draft](https://tools.ietf.org/id/draft-broyer-http-cookie-auth-00.html), but was never finalized.

[2019-05-07 01:53] danlamanna commented on #2434
@brianhelba Can this be closed now?

[2019-05-07 02:41] brianhelba commented on #2434
Issue is now obsolete.

[2019-05-07 02:41] #2434 closed

[2019-05-07 20:36] #2997 closed

[2019-05-09 05:43] MurielCuiCui opened #3034 "Can't run command 'girder-install web'"
I followed all instructions of installation ,but when I run 'girder-install web ' ,it went wrong.
![image](https://user-images.githubusercontent.com/37406633/57429784-1d914f80-7260-11e9-83f7-c97378d1fb5a.png)
I don't know how to fix it ？

And then I 'docker-compose up '  with docke-compose.yml ,it also stop because 'girder-install web - alldependecy'

[2019-05-09 13:42] zachmullen commented on #3034
@MurielCuiCui could you provide minimal steps that reproduce this issue?

[2019-05-09 14:14] waxlamp opened #3035 "Always return `meta` field from resource APIs, even if it doesn't explicitly exist in the database"
This issue asks for two remediations:
1. Augment `GET /folder/{id}` and `GET /item/{id}` to always return a `meta` field, which should just be an empty dict if the `meta` value does not exist on the raw resource document (see @zachmullen's [comment](https://github.com/girder/girder/pull/2888#issuecomment-490657071)).
2. Always place an empty `meta` dict on new item and folder resources when they a

[2019-05-10 03:01] #1167 closed

[2019-05-16 18:14] zachmullen opened #3042 "Add "meta" field to collections"
Collections should be able to have metadata with the same behavior as folders and items.

[2019-05-22 03:35] #3042 closed

[2019-05-22 03:41] #3035 closed

[2019-05-22 21:06] #3034 closed

[2019-05-23 18:44] #2994 closed

[2019-05-23 22:40] zachmullen opened #3051 "Update release docs"
Our [release docs](https://girder.readthedocs.io/en/latest/development.html#creating-a-new-release) are out of date on master. The new process is simply to push a tag that matches a version regex, and CircleCI takes care of publishing it.

[2019-06-04 17:08] #3051 closed

[2019-06-06 19:07] AlmightyYakob opened #3061 "Running 'girder serve' defaults to production mode unless specified in a config file"

[2019-06-09 15:59] brianhelba commented on #2933
Update: this is now [available in Ubuntu 19.04](https://packages.ubuntu.com/disco/universal-ctags).

[2019-06-09 16:03] brianhelba opened #3064 "Plugin Pytest tests can't be located within plugin directories"
At present, plugin Pytest tests live within subdirectories of `test/`. For example, the `audit_logs` tests are at `test/audit_logs/` and not `plugins/audit_logs/test` (or some other leaf directory at the same location).

According to @jbeezley , this may be due to a problem with test coverage.

As we continue to add and port plugin tests to use Pytest, this will result in test organization becomin

[2019-06-09 16:12] brianhelba opened #3065 "Plugin loading cannot utilize mocks in Pytest tests"
In Pytest, plugins are loaded automatically by the `server` fixture, based on the presence of `@pytest.mark.plugin` decorators. Since fixture loading occurs before any test case code runs, a test case that wants to setup mocks for code within a plugin's `load()` method has no opportunity to do so.

This also affects cases where a test case may need to initialize database state or other configurati

[2019-06-09 16:16] brianhelba opened #3066 "The girder_sentry plugin cannot be tested"
Loading the `sentry_sdk` package during testing is undesired, since it globally hooks into exception handlers and initializing it multiple times causes exceptions. For tests of the `girder_sentry` plugin to be possible, the call to `sentry_sdk.init` must be mocked.

However, due to #3065 , this cannot currently be done.

[2019-06-17 18:34] AlmightyYakob opened #3069 "Script for generating public symbols crashes"
When running python scripts/publicNames.py to generate the new public symbols list, the script crashes, outputting this error:

[code]

[2019-06-19 14:37] luissv7 opened #3072 "api –blacklist option not working properly?"
I tried uploading an R Project to a Girder instance using the --blacklist *.RData option to upload an R project to a girder instance.

I tried the following:
girder-client --api-url <url> upload <id> --blacklist .DS_Store,.Rhistory,.Rproj.user,R/.Rhistory,R/Rproj.user,*.RData,.RData

--blacklist .DS_Store,.Rhistory,.Rproj.user,R/.Rhistory,R/Rproj.user,*.RData,R/.RData

Regardless, the only .Rhisto

[2019-06-19 15:58] brianhelba opened #3075 "Monkeybrains plugin has runtime client errors"
The [page for the monkeybrains plugin on data.kitware.com](https://data.kitware.com/#collection/54b582c38d777f4362aa9cb3) is throwing client side errors like:
[code]

[2019-06-19 15:59] brianhelba commented on #3075
I will fix this downstream in the [monkeybrains plugin](https://github.com/girder/monkeybrains/). I wanted to report it here to assign and tag it appropriately.

[2019-06-19 15:59] #3075 closed

[2019-06-19 18:23] #3072 closed

[2019-06-19 23:39] brianhelba commented on #3069
Are you using `universal-ctags` or `exuberant-ctags`?

`universal-ctags` is what the script requires, but it's difficult to install in some cases. See #2933

[2019-06-20 02:24] brianhelba opened #3076 "Null values in URL query string keys cause MongoDB errors"
When REST requests are added to the `auditLogger`, the URL query string [is added as a `dict` at `details.params` of the logger record](https://github.com/girder/girder/blob/0befa8de71472b6e9c7e8768c802af10fa7bc9c5/girder/api/rest.py#L573). While Python allows any string to be used for the keys of this `details.params` `dict`, this dict may later be [inserted into MongoDB by the `audit_logs` plugi

[2019-06-20 14:36] AlmightyYakob commented on #3069
I am using exuberant-ctags, I'll try to install universal-ctags.

[2019-06-20 15:06] zachmullen opened #3077 "Consider new type of entry point for running scripts inside packages"
This would allow plugins to bundle scripts that could be invoked with a special command, e.g.

[code]

Then we could do something like:

[code]

Or try to make this work in the existing `girder shell` mode.

[2019-06-20 15:07] zachmullen commented on #3077
Now that I think about this more, I think it'd be easier to use the existing `'girder.cli_plugins'` entrypoint.

[2019-06-20 15:07] #3077 closed

[2019-06-20 17:09] zachmullen commented on #3069
I am seeing the same error when using universal-ctags on MacOS

[2019-06-20 17:26] zachmullen commented on #3069
For me, the bug is fixed by 2b2b2fe

We can cherry-pick that onto its own topic, but for now I've put it inside of #2787, which I am hoping can be reviewed and merged.

[2019-06-20 17:37] brianhelba commented on #3076
Since the `params` also holds the full data of any `x-www-form-urlencoded` bodies, and cannot be distinguished from URL query strings, I'm just going to go with the first option.

For what it's worth, I realized this means that the `audit_logs` plugin is also storing the entire body of any `x-www-form-urlencoded` request. :man_shrugging:

[2019-06-20 17:41] zachmullen commented on #3076
That's by design. We could have some kind of feature in audit_logs itself that truncates data that's too long, however that's a tough call to make if the purpose is to record everything.

[2019-06-21 02:42] #3076 closed

[2019-06-21 12:37] #3069 closed

[2019-06-27 19:18] wphicks opened #3088 "Web client build fails due to unreliable google-webfonts-helper service"
On 2.x-maintenance, the web client code is currently failing to build because we're getting "Service Unavailable" when trying to access google-webfonts-helper. [Related bug from google-fonts-webpack-helper](https://github.com/gabiseabra/google-fonts-webpack-plugin/issues/21) and [underlying issue](https://github.com/majodev/google-webfonts-helper/issues/46#issuecomment-376187190) suggesting that t

[2019-07-01 22:43] sentry-io[bot] opened #3091 "Race condition when deleting a folder"
Sentry Issue: [DKC-GIRDER-1D](https://sentry.io/organizations/kitware-data/issues/1093846544/?referrer=github_integration)

[code]

In the instructions of deleting a folder -> delete all items -> delete all files, a method called from File.remove is attempting to load file['itemId'] and receiving None.

[2019-07-09 14:15] brianhelba opened #3098 "flake8-docstring dependencies are broken"
When https://gitlab.com/pycqa/flake8-docstrings/issues/36 is fixed, #3097 should be reverted.

[2019-07-17 19:58] sentry-io[bot] opened #3099 "TypeError: this.files[this.currentIndex] is undefined"
Sentry Issue: [DKC-GIRDER-2A](https://sentry.io/organizations/kitware-data/issues/1115724582/?referrer=github_integration)

[code]

[2019-07-17 20:01] danlamanna commented on #3099
Either [here](https://github.com/girder/girder/blob/3bbb3f1669892c9d4fa720c2c75376854b0bdf7e/girder/web_client/src/views/widgets/UploadWidget.js#L275) or below in line 314.

[2019-07-19 15:26] zzzghm opened #3100 "Combine with OpenSeadragon JavaScript"
I had an web-viewer based on OpenSeadragon, and I would like to combine the viewer with HistomicsTK and girder to better analysis and manage the whole slide images. I am wondering where can I find lower level code that you called the OpenSeadragon as a function that I can modify, in that case, I can start from there to combine our viewer with Girder. Thank you!

[2019-07-23 12:39] manthey commented on #3100
The large_image plugin has an OpenSeadragon viewer that is used in the Girder client: https://github.com/girder/large_image/blob/master/web_client/views/imageViewerWidget/openseadragon.js
If you want to combine the OSD viewer with annotations or other overlays, I would also have a GeoJS layer for the annotations and then have code to synchronize the OSD and GeoJS zoom and positions.

I'll close th

[2019-07-23 12:39] #3100 closed

[2019-07-25 14:06] jbeezley opened #3101 "Resolve TODO's in 3.0 documentation"
There are a number of TODO's still remaining in the documentation related to 3.0 changes.  I'm creating this issue attached to the 3.0 milestone so we don't forget.

[2019-08-02 12:49] zachmullen opened #3104 "girder-client --certificate option doesn't work with --api-url"
This comes from the following check in `cli.py`:

[code]

Most of the time we don't pass the scheme, we use `--api-url` instead.

[2019-08-07 02:14] #3104 closed

[2019-08-08 20:47] #3101 closed

[2019-08-19 21:08] xkortex commented on #2580
You can only alias `pip` to pip2 or pip3, depending on the last executable ran against `get-pip.py`
[code]

So unfortunately you cannot just change the entrypoint to get a python3 girder runtime.

IMHO, you should switch the default to py3 and make py2 the legacy, sooner rather than later. [Py2 End of Life](https://pythonclock.org/) is in less than 5 months. ;)

[2019-08-20 15:54] bpaniagua opened #3121 "Error using gider-cli"
When using girder-cli in MacOS (10.14.6)
girder-cli --username [...] --api-key [...] --api-url https://data.kitware.com/api/v1 upload [...] [folder]

I get the following error:

Traceback (most recent call last):
  File "/usr/local/bin/girder-cli", line 6, in <module>
    from girder_client.cli import main
  File "/Library/Python/2.7/site-packages/girder_client/cli.py", line 7, in <module>
    fro

[2019-08-20 15:55] danlamanna commented on #3121
Is that the complete error message?

[2019-08-20 15:57] bpaniagua commented on #3121
Yes. I just tested this problem does not occur in Linux Ubuntu 16.04

[2019-08-20 16:07] danlamanna commented on #3121
If you reinstall girder-client, `pip install --upgrade girder-client`. Does the issue persist?

[2019-08-20 16:09] bpaniagua commented on #3121
Yes.

I just did a fresh girder-client installation this morning, this is a new computer.

[2019-08-20 16:42] danlamanna commented on #3121
Mind trying something like this:
[code]

[2019-08-20 18:33] bpaniagua commented on #3121
girder-cli does not seem to be installed there...

[2019-08-26 19:39] sentry-io[bot] opened #3123 "TypeError: Cannot set property 'id' of undefined"
Sentry Issue: [DKC-GIRDER-WEB-1](https://sentry.io/organizations/kitware-data/issues/1172552605/?referrer=github_integration)

[code]

[2019-09-02 14:44] sentry-io[bot] opened #3126 "IndexError: list index out of range"
Sentry Issue: [DKC-GIRDER-3A](https://sentry.io/organizations/kitware-data/issues/1195971452/?referrer=github_integration)

[code]

This was raised by calling `/resource/lookup` with just `collection` as the path.

[2019-10-08 18:24] sgratzl opened #3129 "virtual folder plugin: Folder API"
at the moment the [virtual folder plugin](https://github.com/girder/girder/blob/master/plugins/virtual_folders/girder_virtual_folders) injects itself just to the REST API of a folder. However, when using the Python Folder Model `Folder().childItems(folder)` it will just return an empty list. It would be nice if also the Python version behaves transparently.

[2019-10-08 18:39] zachmullen commented on #3129
@sgratzl do you have a use case for the virtual folder plugin in the wild? TBH it's not something I would recommend using unless there is a really compelling fit.

[2019-10-08 18:42] sgratzl commented on #3129
see also https://github.com/DigitalSlideArchive/HistomicsTK/issues/665, https://github.com/DigitalSlideArchive/HistomicsTK/issues/660, and https://github.com/DigitalSlideArchive/digital_slide_archive/pull/37

[2019-10-10 14:32] sgratzl opened #3130 "Combine custom filters using a logical AND"
right now in the `Folder.childItems` method the given filters can override the folder query:

https://github.com/girder/girder/blob/da5c16e5e2fa51cd8948a5d730eb3b2764d8968f/girder/models/folder.py#L407-L410

Imo instead of a plain update one should combine the queries using a logical AND, as in
[code]

This will ensure that only children of this filter will be considered by the filter. Otherwise,

[2019-10-10 14:37] zachmullen commented on #3130
If you're looking for all the items in the datastore, `Folder.childItems` is the wrong function to use, instead do `Item().find()`. The `find()` method provides full control over the query into each underlying collection.

As a side note, `$and` is the default behavior when passing a query object with multiple keys.

[2019-10-10 15:02] #3130 closed

[2019-10-11 20:43] mgrauer opened #3131 "What python version will this run Girder as?"
Issue meta-issue: Issues were not enabled on this repo. I had to enable them before I could create this one. Perhaps that will open the floodgate.

My real issue is what Python version will this run Girder as? It seems like from [here](https://github.com/girder/ansible-role-girder/blob/master/tasks/main.yml#L22-L32) it will run as whatever is the system Python3.

Is there a way this would not be t

[2019-10-14 06:53] brianhelba commented on #3131
Regarding the meta-issue: the repository https://github.com/girder/ansible-role-girder is not the upstream home of the `girder.girder` Ansible role; that code properly lives at https://github.com/girder/girder/tree/master/devops/ansible-role-girder . The repo https://github.com/girder/ansible-role-girder is a read-only mirror to accommodate the fact that Ansible Galaxy can't pull roles unless they

[2019-10-14 07:04] brianhelba commented on #3131
@mgrauer Regarding Python versions, were you asking about Python 2 vs 3, or about different version of Python 3 (e.g. 3.6 vs 3.7)?

Most of the role documentation was written around the primary concern of dealing with Python 2 vs Python 3, since both are commonly available on a system at the same time. I think we should update the docs to be more opinionated around encouraging people to just use P

[2019-10-14 07:37] brianhelba commented on #3131
@mgrauer Regarding Python versions, were you asking about Python 2 vs 3, or about different version of Python 3 (e.g. 3.6 vs 3.7)?

Most of the role documentation was written around the primary concern of dealing with Python 2 vs Python 3, since both are commonly available on a system at the same time. I think we should update the docs to be more opinionated around encouraging people to just use P

[2019-10-14 20:27] mgrauer commented on #3131
Does a read-only mirror mirror everything? e.g., is it possible to change the GH tagline at the top of the mirror to mention "this is a read only mirror of https://github.com/girder/girder/tree/master/devops/ansible-role-girder", or does that violate the mirroring?

[2019-10-14 20:28] mgrauer commented on #3131
Yes I agree with this, let's be more opinionated about Python3 and that will partially help my confusion. And as I mentioned in the PR #3132 comments, the main question I was trying to answer by reading the docs of girder ansible role is, "what version of Python will Girder run under?".

[2019-10-15 02:49] brianhelba commented on #3131
I just updated this.

[2019-10-16 14:58] #3131 closed

[2019-10-16 15:09] mgrauer opened #3133 "Client build fails when plugin removed"
I'm not sure if this is specifically from Ansible or just a general error.

We have an Ansible playbook to manage a Girder instance using the Girder Ansible role, and had wanted to uninstall a previously installed Girder plugin, with this [PR](https://github.com/dandi/dandiarchive/pull/33).

After that plugin was uninstalled, the `girder build` was run by Ansible but failed looking for the client

[2019-10-16 15:14] zachmullen commented on #3133
Did you restart Girder after uninstalling the plugin? That will be required.

[2019-10-16 15:26] zachmullen commented on #3133
stop, build client, then start

[2019-10-17 15:24] zachmullen opened #3135 "Correctly handle range requests from video players"

[2019-10-17 15:41] manthey commented on #3135
Nothing we've done that I know of requires multipart range requests.  We probably should return a 416 if asked for a multipart range request (I think, but haven't checked, that we return a 200 with the full data, which is also allowed).

[2019-10-17 15:56] manthey commented on #3135
Reading the specification (https://tools.ietf.org/html/rfc7233#section-4.4), 416 is only appropriate if the range is outside of the file.  The spec permits just sending the whole file with a 200 response if we don't support multipart range requests.

Our current behavior of sending a 200 when the range request is the whole file is within spec, since it reads the server SHOULD send a 206, as oppose

[2019-10-17 16:49] zachmullen commented on #3135
Did we check that changing to 206 fixes the particular video issue we were seeing?

[2019-10-17 16:57] manthey commented on #3135
Yes.  I did a quick hack to `girder/utility/abstract_assetstore_adapter.py`, changing
[code]
to
[code]
and Chrome reads the first few bytes in the first request and then makes range requests henceforth.

This is not how I would do this for production, but it worked for a test.  I would avoid a cherrypy import outside of the `girder/api` modules.  And, looking at `girder/api/v1/file.py`, I think if

[2019-10-17 17:14] zachmullen commented on #3135
That actually looks like the real solution to me. We're already importing cherrypy symbols into that module, and the function itself is designed to deal with HTTP headers, so it doesn't seem out of place.

I'll also fix the multipart behavior.

[2019-10-17 20:25] zachmullen opened #3137 "Support multipart range requests"
Refs #3136

There are two appropriate behaviors here are to ignore the request and return the full file with status 200, or to [correctly implement multipart content range responses](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests). Right now we do neither; we fulfill the first range request in the list, which would confound clients attempting to do multipart range requests.

AFAI

[2019-10-17 20:51] #3135 closed

[2019-10-23 14:33] zachmullen opened #3141 "Move expensive testing to nightly rather than on merge"
I just realized this is a thing we can do with CircleCI after [Chris's g_worker PR](https://github.com/girder/girder_worker/pull/344).

Seems like ansible might be a good candidate for this.

[2019-11-14 16:18] subdavis opened #3146 "Generate typescript client library from openapi spec."
Talked with some people last night who were using https://www.npmjs.com/package/@openapitools/openapi-generator-cli

They would generate a TypeScript library for interacting with their backend in the backend's CI, and publish it to NPM.  Then, any client application that wants to interact with the backend can include this autogenerated library.

I think Girder would be a great candidate for doing

[2019-11-14 16:25] danlamanna commented on #3146
It's been my experience that these types of tools generally don't work well with Girder, but I would love to be proven wrong. Before going down this route I would attempt to use an OpenAPI validator to fix the schema that Girder generates. As it stands Girder doesn't generate an OpenAPI compliant document.

[2019-11-19 19:51] #3146 closed

[2019-11-25 21:20] #2475 closed

[2019-12-30 19:19] tymiao1220 opened #3149 "PKG-INFO No such file or directory when Vagrant up"
macOS: 10.14.6
Vagrant: 2.2.6
VirtualBox: 6.0.14
Girder: master

When I did Vagrant up I got error

`fatal: [default]: FAILED! => {"changed": false, "cmd": ["/home/vagrant/.virtualenvs/girder/bin/pip3", "install", "--editable", "/home/vagrant/girder"], "msg": "stdout: Obtaining file:///home/vagrant/girder\n    Complete output from command python setup.py egg_info:\n    Traceback (most recent call